@import '../../../../../../scss/theme/wrapper',
        '../../../../../../scss/mixins/flex';


.wrapper{
    text-align: center;
    padding: 40px 60px;
}
.button:nth-child(1){
    background-color: red;
}
h3{
    color: red;
}
.btn-wrapper{
    @include flex(center,center);
    column-gap: 50px;
}