
<div class="profile-content">
    <div class="profile-info">
      <div class="profile-img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGTpxmfWYxJ6Spa0StJvpeUGRvlJafGr3hYwTv-ars9DLb_BgmmdCMo5UU-wkeZngdgy4&usqp=CAU" alt="">
      </div>
      <div class="login-details">
        <h1>Akshat </h1>
        <div>
          <strong>Email : </strong>
          <span>akshat@appinventiv.com</span>
        </div>
        <div>
          <strong>Employee ID : </strong>
          <span>AI1592</span>
        </div>
        <div>
          <strong>Designation : </strong>
          <span>Software ENgineer</span>
        </div>
        <div>
          <strong>Last Login : </strong>
          <span>31-Jan-2023</span>
        </div>
      </div>
    </div>
    <hr>

  <div class="tab">
      
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <a href=""  >
          <mat-tab >
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">account_circle</mat-icon>
              Basic Information
            </ng-template>
            <app-basic-information></app-basic-information>
          </mat-tab>
        </a>

    
        <a href="">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">camera_alt</mat-icon>
              Profile Picture
            </ng-template>
            <app-profile-picture></app-profile-picture>
          </mat-tab>
        </a>

     
        <a href="">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">book</mat-icon>
              Qualifcation
            </ng-template>
            <app-qualification></app-qualification>
          </mat-tab>
        </a>
 

        <a href="">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">account_box</mat-icon>
              Shift
            </ng-template>
            <app-shift></app-shift>
          </mat-tab>
        </a>

      
        <a href="">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">vpn_key</mat-icon>
              Changed Password
            </ng-template>
            <app-change-password></app-change-password>
          </mat-tab>
        </a>
      
      
        <a href="">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">thumb_up_alt</mat-icon>
              Appraisal
            </ng-template>
            <app-appraisal></app-appraisal>
          </mat-tab>
        </a>

    </mat-tab-group>
  </div>
    
  </div>  