<section>
    <div class="wrapper">
        <div class="request-assets">
            <div [ngClass]="{'my-card': true}" class="col-md-12">
                <div class="col-md-12">
                    <button class="button col-md-2 " (click)="toggleCard()">Add New Assets Declaration</button>
                </div>
            </div>
            <div [ngClass]="{'my-card-content': true, 'expand': isOpen}">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12 pd-10">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="gender">Employee Id AI1592 <span class="red-color">*</span></label>
                                <mat-form-field appearance="outline" >
                                    <input matInput type="text"   >
                                  </mat-form-field>
                              </div>
                            </div>
          
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="experience" class="control-label">Unique Asset Code  <span class="red-color">*</span></label>
                                <mat-form-field appearance="outline" >
                                    <input matInput type="text"  >
                                </mat-form-field>
                              </div>
                            </div>
          
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="experience" class="control-label">Serial Number <span class="red-color">*</span></label>
                                <mat-form-field appearance="outline" >
                                    <input matInput type="text"  >
                                </mat-form-field>
                              </div>
                            </div>
                            
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="required_by">Model Number <span class="red-color">*</span></label>
                                <mat-form-field appearance="outline" >
                                    <input matInput type="text">
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="allocationType">OS <span class="red-color">*</span> </label>
                                <app-dropdown [data]="OsDropdown"></app-dropdown>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="allocationType">OS version  <span class="red-color">*</span> </label>
                                <mat-form-field appearance="outline" >
                                    <input matInput type="text" >
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="allocationType">Brand <span class="red-color">*</span> </label>
                                <mat-form-field appearance="outline" >
                                    <input matInput type="text" >
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="allocationType">Colour <span class="red-color">*</span> </label>
                                <mat-form-field appearance="outline" >
                                    <input matInput type="text" >
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="allocationType">Device is in working condition?  <span class="red-color">*</span> </label>
                                <app-dropdown [data]="deviceWorkingDropdown" ></app-dropdown>
                              </div>
                            </div>

                          </div>

                          <div class="row file">
                            <div class="col-md-12">
                                <br>
                                <label for="short_description">Asset Image(Allowed Format: jpg,jpeg,JPEG,JPG,png,PNG,GIF) <span class="red-color">Upload front and backside image*</span></label>
                                <br>
                                <input type="file">
                            </div>
                          </div>

                        </div>
                      </div>
                </div>

                <div class="row form-actions align-center text-center col-md-12">
                    <div class="col-md-12">
                        <button  id="assetDeclarationSaveBtn" type="submit" class="button"> <i class="fa fa-check-square-o"></i> Submit </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="assest-wrapper">
            <div class="wrapper-heading">
                <h1>List All Assets Inventory</h1>
            </div>
            <app-table [columns]="headings" [dataSource]="datasource"></app-table>
        </div>
    </div>

</section>
