<section>
    <div class="wrapper">
        <div class="request-assets">
            <div [ngClass]="{'my-card': true}" class="col-md-12">
                <div class="col-md-12">
                    <button class="button col-md-2 " (click)="toggleCard()">Add New Assets Declaration</button>
                </div>
            </div>
            <div [ngClass]="{'my-card-content': true, 'expand': isOpen}">
                <div class="row" [formGroup]="assetsDeclarationForm">
                    <div class="row">
                        <div class="col-md-12 pd-10">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="gender">Employee Id AI1592 <span class="red-color">*</span></label>
                                <mat-form-field appearance="outline" >
                                    <input matInput type="text" formControlName="employeeId"  >
                                    <mat-error>{{assetsDeclarationForm | validationError : 'employeeId' : 'Employee Id' }}</mat-error>
                                  </mat-form-field>
                              </div>
                            </div>
          
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="experience" class="control-label">Unique Asset Code  <span class="red-color">*</span></label>
                                <mat-form-field appearance="outline" >
                                    <input matInput type="text" formControlName="uniqueAssetCode" >
                                    <mat-error>{{assetsDeclarationForm | validationError : 'uniqueAssetCode' : 'Unique Asset Code ' }}</mat-error>
                                </mat-form-field>
                              </div>
                            </div>
          
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="experience" class="control-label">Serial Number <span class="red-color">*</span></label>
                                <mat-form-field appearance="outline" >
                                    <input matInput type="text" formControlName="serialNumber" >
                                    <mat-error>{{assetsDeclarationForm | validationError : 'serialNumber' : 'Serial Number' }}</mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                            
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="required_by">Model Number <span class="red-color">*</span></label>
                                <mat-form-field appearance="outline" >
                                    <input matInput type="text" formControlName="modelNumber" >
                                    <mat-error>{{assetsDeclarationForm | validationError : 'modelNumber' : 'Model Number' }}</mat-error>
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group dropdown">
                                <label for="allocationType">OS <span class="red-color">*</span> </label>
                                <div class="dropdown-body">
                                  <app-dropdown [data]="OsDropdown"  (outputData)="selectedValue($event,'os')"></app-dropdown>
                                </div>
                                <small *ngIf="this.assetsDeclarationForm.controls.os.touched">{{assetsDeclarationForm | validationError:'os':'OS' }}</small>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="allocationType">OS version  <span class="red-color">*</span> </label>
                                <mat-form-field appearance="outline" >
                                    <input matInput type="text" formControlName="osVersion" >
                                    <mat-error>{{assetsDeclarationForm | validationError : 'osVersion' : 'OS version' }}</mat-error>
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="allocationType">Brand <span class="red-color">*</span> </label>
                                <mat-form-field appearance="outline" >
                                    <input matInput type="text" formControlName="brand">
                                    <mat-error>{{assetsDeclarationForm | validationError : 'brand' : 'Brand' }}</mat-error>
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="allocationType">Colour <span class="red-color">*</span> </label>
                                <mat-form-field appearance="outline" >
                                    <input matInput type="text" formControlName="color" >
                                    <mat-error>{{assetsDeclarationForm | validationError : 'color' : 'Color' }}</mat-error>
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group dropdown">
                                <label for="allocationType">Device is in working condition?  <span class="red-color">*</span> </label>
                                <div class="dropdown-body">
                                  <app-dropdown [data]="deviceWorkingDropdown"  (outputData)="selectedValue($event,'workingCondition')" ></app-dropdown>
                                </div>
                                <small *ngIf="this.assetsDeclarationForm.controls.workingCondition.touched">{{assetsDeclarationForm | validationError:'os':'OS' }}</small>
                              </div>
                            </div>

                          </div>

                          <div class="row file">
                            <div class="col-md-12">
                                <br>
                                <label for="short_description">Asset Image(Allowed Format: jpg,jpeg,JPEG,JPG,png,PNG,GIF) <span class="red-color">Upload front and backside image*</span></label>
                                <br>
                                <input type="file" formControlName="assetsImage">
                                <small *ngIf="this.assetsDeclarationForm.controls.assetsImage.touched">{{assetsDeclarationForm | validationError:'assetsImage':'Assets Image' }}</small>
                            </div>
                          </div>

                        </div>
                      </div>
                </div>

                <div class="row form-actions align-center text-center col-md-12">
                    <div class="col-md-12">
                        <button  (click)="assetsDeclarationSubmit()" type="submit" class="button">  Submit </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="assest-wrapper">
            <div class="wrapper-heading">
                <h1 class="dark-header" >List All Assets Inventory</h1>
            </div>
            <app-table [columns]="headings" [dataSource]="datasource"></app-table>
        </div>
    </div>

</section>
