
@import '../../../../../../scss/mixins/flex',
        '../../../../../../scss/var',
        '../../../../../../scss/theme/wrapper';

.appreciate-wrapper{
    width: 95%;
    border: 1px solid lightgray;
    border-radius: 2px;
    @include flex(null,space-between);
    flex-direction: column;
    height: 23rem;
    background-color: white;
    padding: 2%;
    border-radius: 5px;
    // gap:104.5px;
    
    p{
        font-size: 12px;
        font-weight: 250;
    }
    h2{
        font-size: 1.2rem;
        span{
            font-size: 3.5rem;
             position: relative;
             top: 11px;
            }
    }
    button{
        // @include primary-button($color: white, $bg_color: $primary_light, $height: 2rem, $width: 20%);
        border-radius: 5px;   
        
    }
    button{
        margin: 5px;
        height: 40px;
        color: white;
        background-color: $primary;
        border: 0px;
        border-radius: 5px;
    }
    
}
