.custom-img{
    height: 256px !important;
    width: 300px;
    object-fit: cover;
    object-position: center;
   }

img{
    object-fit: cover;
    object-position: center;
    height: 256px !important;
    width: 300px;
}
::ng-deep .owl-item{
    height: 256px !important;
    width: 300px !important;
}

::ng-deep .owl-dots{
    visibility: visible !important;
    margin-top: 15px !important;
}
ng-template{
    height: 256px !important;
    width: 300px !important;
}

::ng-deep .owl-stage-outer{
    height: 256px !important;
   }

::ng-deep .owl-stage{
    height: 256px !important;
    width: 100% !important;
   }

   .owl-carousel .prev-slide{
    background: url('https://cdn-icons-png.flaticon.com/512/32/32213.png') no-repeat scroll 0 0;
    // left: -33px;
  }
  .owl-carousel .next-slide{
    background: url('https://cdn-icons-png.flaticon.com/512/32/32213.png') no-repeat scroll 0px 0px;
  
  }
  

// ::ng-deep .owl-carousel{
//     position: relative !important;
// }

// ::ng-deep .owl-nav{
//     position: absolute;
//     top: -40px !important;
//     right: -50px !important;

// }


     


