@import './../../../../scss/theme/card',
         './../../../../scss/var',
         './../../../../scss/global',
         './../../../../scss/mixins/flex',
         './../../../../scss/mixins/media',
         './../../../../scss/theme/grid';

*{
    box-sizing: border-box;
}         

.button{
    width: 140px;
}

.user-info{
    h2{
        margin-bottom: 5px;
    }
    p{
        margin: 5px 0px;
    }

}

.card{
    @include media(lg){
        padding: 16px;
    }
    @include media(xs){
        padding: 0px;
    }
    .card-body{
        height: 100%;
    }

}

.card-top{
    @include media(xs){
        display: inline-block !important;
        width: 100%;
        text-align: center;

    }
}

.performance-wrapper{
    padding: 24px;
    background-color: $lightblue;
    @include media(lg){
        padding: 16px;
    }
    h1{
        font-size: 24px;
        color: #199CFF;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 0;
    }

    .profile-content{
        @include media(lg){
            display: block;
        }
        .profile{
            width: 45%;
            padding: 0px;
            @include media(lg){
                width: 100%;
            }
        }
        .card-mid{
            h6{
                font-size: 14px;
                font-weight: 600;
            }
            span{
                font-size: 14px;
                font-weight: 400;
            }
            .awards{
                // width: 60%;
                margin: 10px;
                padding: 10px;
                background-color: #FFF3CB;
                border-radius: 5px;
            }
            .honours{
                border-radius: 5px;
                margin: 10px;
                padding: 10px;
                background-color: #CBE7FF;
                min-width: 100px;
            }
        }
    }

    
    .rating-wrapper{
        background-color: #dfffb0;
        // margin: 20px;
        width: 100%;
        
        .rating-info{
            padding: 10px 0px;
            margin-right: 10px;
            .rating-count{
                h2{
                    font-size: 45px;
                    @include media(md){
                        text-align: center;
                    }
                }
            }
            .rating-time{
                p{
                    
                    background-color: $white;
                    width: 100%;
                    text-align: center;
                    border-radius: 5px;
                }
            }
        }
        .rating-skills{
            @include media(md){
                flex-wrap: wrap;
            }
            .block-wrapper{
                width: 25%;
                @include media(md){
                   min-width: 50%;
                }
                @include media(sm){
                    min-width: 100%;
                }
            }
            padding: 10px;
            // margin-right: 10px;
            box-sizing: border-box;
            .block{
                box-sizing: border-box;
                border-radius: 5px;
                background-color: #FFF3CB;
                margin: 1px;
                padding: 5px;
                text-align: center;
                min-width: 70px;
            }
            @media screen and (max-width: 500px) {
                display: block;
                div{
                    width: 100%;
                }
              }
        }
    }
    .monthly-block{
        height: 140px;
        border: 1px solid #E9E9E9;
        border-radius: 5px;
        padding: 20px;
        margin: 10px 0px;
        .awards{
            margin-top: 20px;
            .award-count{
                margin: 10px 0px;
                font-size: 18px;
                font-weight: 500;
                color: #F7C417;
            }
            .honours-count{
                margin: 10px 0px;
                font-size: 18px;
                font-weight: 500;
                color: #0086FF;
            }
        }
    }

}


:host ::ng-deep .input-field{
    .input-wrapper{
        margin-bottom: 0px;
    }
}
