@import './../../../../scss/theme/card',
         './../../../../scss/var',
         './../../../../scss/global',
         './../../../../scss/mixins/flex',
         './../../../../scss/mixins/media';

*{
    box-sizing: border-box;
}         

.card{
    @include media(xs){
        padding: 0px;
    }
}

.performance-wrapper{
    padding: 24px;
    background-color: $lightblue;

    .profile-content{
        @include media(lg){
            display: block;
        }
        .profile{
            width: 45%;
            padding: 0px;
            @include media(lg){
                width: 100%;
            }
        }
        .awards{
            width: 60%;
            margin: 10px;
            padding: 10px;
            background-color: #FFF3CB;
            border-radius: 5px;
        }
        .honours{
            border-radius: 5px;
            margin: 10px;
            padding: 10px;
            width: 20%;
            background-color: #CBE7FF;
        }
    }

    
    .rating-wrapper{
        background-color: #dfffb0;
        margin: 20px;
        width: 45%;
        @include media(lg){
            width: 90%;
        }
        .rating-info{
            padding: 10px;
            margin-right: 10px;
            .rating-count{
                h1{
                    font-size: 45px;
                }
            }
            .rating-time{
                p{
                    margin: auto;
                    background-color: $white;
                    width: 70%;
                    text-align: center;
                    border-radius: 5px;
                }
            }
        }
        .rating-skills{
            @include media(md){
                flex-wrap: wrap;
            }
            .block-wrapper{
                width: 25%;
                @include media(md){
                   min-width: 50%;
                }
                @include media(sm){
                    min-width: 100%;
                }
            }
            padding: 10px;
            // margin-right: 10px;
            box-sizing: border-box;
            .block{
                box-sizing: border-box;
                border-radius: 5px;
                background-color: #FFF3CB;
                margin: 5px;
                padding: 5px;
                text-align: center;
                min-width: 70px;
            }
            @media screen and (max-width: 500px) {
                display: block;
                div{
                    width: 100%;
                }
              }
        }
    }
    .monthly-block{
        height: 160px;
        border: 1px solid #E9E9E9;
        border-radius: 5px;
        padding: 10px;
        
        p{
            margin: 10px;
            padding: 10px;
        }
    }

    .monthly-performance{
        .flex-col-4{
            @include media(sm){
                width: 100%;
            }
        }
    }
}