<div class="performance-wrapper">
    <h1>Performance</h1>
    <div class="card">
        <div class="card-body flex-row">
            <div  class="card-body">
                <div class="card-top flex-col-1">
                    <div class="profile-pic">
                        <img src="../../../../assets/abk.jpeg" alt="">
                    </div>
                    <div class="user-info">
                        <h1>
                            Akshat
                        </h1>
                        <p>
                            Software Engineer (Angular)
                        </p>
                    </div>
                </div>
                <div class="card-mid flex-row">
                    <div class="awards">
                        <h6>AWARDS</h6>
                        <ul></ul>
                        <span>N/A</span>
                    </div>
                    <div class="honours">
                        <h6>AWARDS</h6>
                        <ul></ul>
                        <span>N/A</span>
                    </div>
                </div>
            </div>
            

            <div class="rating-wrapper card-body">
                <div class="rating-info flex-row">
                    <div class="rating-count flex-col-2">
                        <h1>3.4</h1>
                   </div>
                   <div class="rating-time flex-col-2">
                       <p>Jan 2021 - Till NOW</p>
                   </div>
                </div>
                <div class="rating-skills flex-row">
                    <div class="flex-col-4">
                        <div class="block ">
                            <p>Technical skills</p>
                            <h3>3.0</h3>
                        </div>
                    </div>
                    <div class="flex-col-4">
                        <div class="block ">
                            <p>Technical skills</p>
                            <h3>3.0</h3>
                        </div>
                    </div>
                    <div class="flex-col-4">
                        <div class="block ">
                            <p>Technical skills</p>
                            <h3>3.0</h3>
                        </div>
                    </div>
                    <div class="flex-col-4">
                        <div class="block ">
                            <p>Technical skills</p>
                            <h3>3.0</h3>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <button class="button">Monthly Rating</button>
        </div>
        <div class="card-body">
            <div class="card-top">
                <div class="user-info">
                    <h1>Monthly Performance Calendar</h1>
                </div>
            </div>
            <div class="card-mid flex-row">
                <div class="flex-col-4">
                    <div class="monthly-block ">
                        <p>January</p>
                    </div>
                </div>
                <div class="flex-col-4">
                    <div class="monthly-block ">
                        <p>January</p>
                    </div>
                </div>
                <div class="flex-col-4">
                    <div class="monthly-block ">
                        <p>January</p>
                    </div>
                </div>
                <div class="flex-col-4">
                    <div class="monthly-block ">
                        <p>January</p>
                    </div>
                </div>
                <div class="flex-col-4">
                    <div class="monthly-block ">
                        <p>January</p>
                    </div>
                </div>
                <div class="flex-col-4">
                    <div class="monthly-block ">
                        <p>January</p>
                    </div>
                </div>
                <div class="flex-col-4">
                    <div class="monthly-block ">
                        <p>January</p>
                    </div>
                </div>
                <div class="flex-col-4">
                    <div class="monthly-block ">
                        <p>January</p>
                    </div>
                </div>
                <div class="flex-col-4">
                    <div class="monthly-block ">
                        <p>January</p>
                    </div>
                </div>
                <div class="flex-col-4">
                    <div class="monthly-block ">
                        <p>January</p>
                    </div>
                </div><div class="flex-col-4">
                    <div class="monthly-block ">
                        <p>January</p>
                    </div>
                </div>
                <div class="flex-col-4">
                    <div class="monthly-block ">
                        <p>January</p>
                    </div>
                </div>
                <div class="flex-col-4">
                    <div class="monthly-block ">
                        <p>January</p>
                    </div>
                </div>

                
                <!-- <div class="monthly-block flex-col-4">
                    <p>January</p>
                </div>
                <div class="monthly-block flex-col-4">
                    <p>January</p>
                </div>
                <div class="monthly-block flex-col-4">
                    <p>January</p>
                </div>
                <div class="monthly-block flex-col-4">
                    <p>January</p>
                </div>
                <div class="monthly-block flex-col-4">
                    <p>January</p>
                </div>
                <div class="monthly-block flex-col-4">
                    <p>January</p>
                </div>
                <div class="monthly-block flex-col-4">
                    <p>January</p>
                </div>
                <div class="monthly-block flex-col-4">
                    <p>January</p>
                </div>
                <div class="monthly-block flex-col-4">
                    <p>January</p>
                </div>
                <div class="monthly-block flex-col-4">
                    <p>January</p>
                </div>
                <div class="monthly-block flex-col-4">
                    <p>January</p>
                </div>
                <div class="monthly-block flex-col-4">
                    <p>January</p>
                </div> -->
            </div>
        </div>
    </div>
</div>