<mat-carousel
  style="display: flex !important; height: 400px !important ;min-width:300px !important; justify-content: center !important;margin-left: 15%; margin-right: 15%"
  timings="250ms ease-in"
  [autoplay]="true"
  [interval]="3000"
  color="warn"
  maxWidth="auto"
  [proportion]="25"
  [slides]="10"
  [loop]="true"
  [hideArrows]="true"
  [hideIndicators]="true"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
  [slideHeight]="slideHeight"
>
  <mat-carousel-slide
    style="height: 400px !important   "
    #matCarouselSlide
    *ngFor="let slide of images; let i = index"
    [image]="path"
    overlayColor="transparent"
    [hideOverlay]="false"
  >
  <!-- name:{{slide.imageAlt}} -->
  </mat-carousel-slide>
</mat-carousel>

<h1>{{prop}}</h1>