@import '../../../../../scss/theme/grid',
        '../../../../../scss/var',
        '../../../../../scss/theme/wrapper';

mat-form-field{
    width: 100%;
}

.punch-details-card{
    background-color: $white;
    border-radius: 5px;
    .punch-details-header{
        padding: 20px;
        margin: 0px;
    }
    .punch-details-body{
        button{
            margin: 0px;
        }
    }
}
