<div class="appraisal-wrapper">
    <div class="appraisal-header">
        <h6>Appraisal Detail</h6>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
              
                <div class="input-field">
                  <label for="">Appraisal Cycle</label>
                  <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>
                    <mat-select disabled>
                      <mat-option value="one">Male</mat-option>
                      <mat-option value="two">Female</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="input-field">
                  <label for="">Appraisal Month</label>
                  <mat-form-field appearance="outline">
                    <mat-label>Select</mat-label>
                    <mat-select disabled>
                      <mat-option value="one">Male</mat-option>
                      <mat-option value="two">Female</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
               
            </div>
        </div>
    </div>
</div>