<div class="container-wrapper">
     
    <h1>List All Candidates</h1>
    
    <div class="card">
        <div class="card-body">
            <div class="card-mid">
                <div class="row">
                    <div class="col-md-3">
                        <label for="">Department</label><br>
                        <div>
                        <app-dropdown [data]="departmentDropdown"  [placeHolder]="deparrtmentPlaceholder"></app-dropdown>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="">Status</label><br>
                        <app-dropdown  [data]="interviewStatusDropdown" [placeHolder]="statusPlaceholder"></app-dropdown>
                    </div>
                </div>
                <div class="table row">
                    <div class="col-md-12">
                        <app-table [columns]="headings" [dataSource]="datasource"></app-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>