<div class="wrapper">
     
    <h1 class="wrapper-header">List All Candidates</h1>
    
    <div class="card">
        <div class="card-body">
            <div class="card-mid">
                <div class="row">
                    <!-- <ng-container *ngFor="let filter of filterSelectObj"> -->
                        <div class="col-md-3" >
                            <label for="">{{filterSelectObj[0].label}}</label><br>
                            <app-dropdown  [data]="filterSelectObj[0].data"  [placeHolder]="filterSelectObj[0].placeholder" [progchangedValue]="interviewForm.controls.department.value" (outputData)="filterChange($event,filterSelectObj[0].controlName)"  ></app-dropdown>
                        </div>
                        <div class="col-md-3" >
                            <label for="">{{filterSelectObj[0].label}}</label><br>
                            <app-dropdown  [data]="filterSelectObj[1].data"  [placeHolder]="filterSelectObj[1].placeholder" [progchangedValue]="interviewForm.controls.status.value" (outputData)="filterChange($event,filterSelectObj[1].controlName)"  ></app-dropdown>
                        </div>
                    <!-- </ng-container> -->
                </div>
                <div class="table row">
                    <div class="col-md-12">
                        <app-table ngModel [columns]="headings" [dataSource]="datasource"></app-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>