<div class="wrapper">
     
    <h1 class="wrapper-header">List All Candidates</h1>
    
    <div class="card">
        <div class="card-body">
            <div class="card-mid">
                <div class="row">
                    <ng-container *ngFor="let filter of filterSelectObj">
                        <div class="col-md-3" >
                            <label for="">{{filter.label}}</label><br>
                            <app-dropdown [data]="filter.data"  [placeHolder]="filter.placeholder" (outputData)="filterChange($event)"></app-dropdown>
                        </div>
                    </ng-container>
                </div>
                <div class="table row">
                    <div class="col-md-12">
                        <app-table [columns]="headings" [dataSource]="datasource"></app-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>