
<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="card">
            <div class="card-header">
                <h3>
                    <mat-icon>lens</mat-icon>
                    Awards
                </h3>  
            </div>  
            <div class="card-body">
                <div class="card-body-top">
                    <p>Dear</p>
                </div>   
                <div class="card-body-mid achievement">
                    <div class="card-image">
                       <app-team-carosuel></app-team-carosuel>
                        <!-- <img src="../../../../assets/abk.jpeg" alt=""> -->
                        <!-- <img src="../../../../assets/abk.jpeg" alt=""> -->
                    </div>
                    <div class="latest-heading">
                        <p>Keep spreading your awesomeness.Congratulations!</p>
                    </div>
                </div>
                <div class="card-body-bottom">
                    <!-- <p>cheers!</p>
                    <p>Appinventiv</p> -->
                    <button>View More</button>
                </div>
    
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="card">
            <div class="card-header">
                <h3>
                    <mat-icon>lens</mat-icon>
                    Awards
                </h3>
            </div>
            <div class="card-body">
                <div class="card-body-top">
                    <p>Dear</p>
                </div>
                <div class="card-body-mid">
                    <div class="card-image">
                        <!-- <img src="../../../../assets/abk.jpeg" alt="">
                        <img src="../../../../assets/abk.jpeg" alt=""> -->
                        <app-slideshow></app-slideshow>
                        <app-slideshow></app-slideshow>
                    </div>
                    <div class="latest-heading">
                        <p>Keep spreading your awesomeness.Congratulations!</p>
                    </div>
                    
                </div>
                <div class="card-body-bottom">
                    <p>cheers!</p>
                    <p>Appinventiv</p>
                </div>
    
            </div>
        </div>
    </ng-template>     
    <ng-template carouselSlide>
        <div class="card">
            <div class="card-header">
                <h3>
                    <mat-icon>lens</mat-icon>
                    Awards
                </h3>
            </div>
            <div class="card-body">
                <div class="card-body-top">
                    <p>Dear</p>
                </div>
                <div class="card-body-mid">
                    <div class="card-image">
                        <!-- <img src="../../../../assets/abk.jpeg" alt="">
                        <img src="../../../../assets/abk.jpeg" alt=""> -->
                        <app-slideshow></app-slideshow>
                        <app-slideshow></app-slideshow>
                    </div>
                    <div class="latest-heading">
                        <p>Keep spreading your awesomeness.Congratulations!</p>
                    </div>
                </div>
                <div class="card-body-bottom">
                    <p>cheers!</p>
                    <p>Appinventiv</p>
                </div>
    
            </div>
        </div>
    </ng-template>  
</owl-carousel-o>
