@import "./../../../../../scss/var";
@import './../../../../../scss/mixins/flex';
@import './../../../../../scss/theme/card';

owl-carousel-o{
    width: 100% !important;
}
// ::ng-deep .owl-stage-outer{
//   height: 480px !important;
// }


// @media screen and (min-width: 1344px) {
    
//     ::ng-deep .owl-dots{
//         visibility: hidden !important;

//     }
//   }
 

// .row{
//     padding: 24px;
//     @include flex(normal,space-between);
    
    // display: flex !important;
    // justify-content: space-between !important;
    .card{
      padding: 0px;
      width: 98%;
     
      
      .card-header{ 
        background-color: $white;
        padding: 16px 24px;
        border-bottom: 0px;
        h3{
          height: 20px;
          padding:0px;
          font-size: 16px;
          font-weight: 500;
          color: black;
          border: 0px;
          ::ng-deep .mat-icon{
            width: 10px;
            font-size: 10px;
          }
        }
      }
      .card-body{
        .card-body-top{
          p{
            font-size: 12px;
            padding: 0px 8px;
          }
        }
        .achievement{
            margin-bottom: 30px;
        }
        .card-body-mid{
          padding: 0px 8px ;
          .card-image{
            @include flex(normal,center);

            app-slideshow{
              width: 50%;
              padding: 8px 8px 0px 0px;
              border-radius:15px;
              background-clip:border-box;
              height: 200px;
              margin: 0px 6px;
            }
            app-team-carosuel{
              width: 100%;
              // padding: 8px;
              border-radius:15px;
              background-clip:border-box;
              height: 200px;
              margin: 0px 6px;
             
            
            }
            img{
              width: 50%;
              padding: 8px;
              border-radius:15px;
              background-clip:border-box;
              height: 200px;
              margin: 0px 6px;
            }
          }
          
          p{
            font-size: 12px;
            font-weight: 500px;
            color: #606167;
          }
          .latest-heading{
            padding: 0px 8px;
            min-height: 70px;
            
          }
        }
        .card-body-bottom{
          padding: 0px 8px;
          p{
            font-size: 12px;
            font-weight: 500;
            color: #199CFF;
          }
          button{
            height: 35px;
            border-radius: 5px;
            background-color: #199CFF;
            color: white;
            border: 0px;
            width: 100px;
          }

        }
        .card-body-bottom p:first-child {
          color: black;
          font-weight: 400;

        }
      }
    }
//   }