
        <div class="main row">
            <ng-container *ngFor="let card of cards;">
                <div class="col-sm-6 col-md-4 col-lg-4" >
                    <div class="card-body">
                        <div class="card-body-top">
                            <figure>
                                <img src="https://dashboard.appinventiv.com/uploads/award/react-native.svg" alt="">
                            </figure><br>
                            
                        </div>
                        <div class="card-body-mid">
                            <div class="job-description row">
                                <h3 class="col-10">{{card.trainingName}}</h3>
                                <p class="department_name col-2">{{card.trainingStatus}}</p>
                            </div>
                            <ng-content></ng-content>
                            <div class="job-data">
                               
                                <div class="job-data-block">
                                    <p>Start Date</p>
                                    <h4>{{card.startDate}}</h4>
                                </div>
                                <div class="job-data-block">
                                    <p>End Date</p>
                                    <h4>{{card.endDate}}</h4>
                                </div>
                                <div class="job-data-block">
                                    <p>{{dynamicLabel}}</p>
                                    <h4>{{card.mode || card.seats}}</h4>
                                </div>
                               
                            </div>
                        </div>
                        <div class="card-body-bottom">
                            <div class="btn-wrapper">
                                <button (click)="viewDetails()" >{{card.firstButtonName}}</button>
                                <button (click)="feedBack()">{{card.secondButtonName}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>

