@import '../../../../../scss/theme/wrapper',
        '../../../../../scss/theme/grid',
        '../../../../../scss/var';

*{
    box-sizing: border-box;
    hr{
        border: 0px !important;
    }
}
.requested-dinner-header{
    background-color: $white;
    padding: 15px 20px;
    border: 1px solid $lightgrey;
    .row{
        .button{
            float: right;
        }
    }
}
.requested-dinner-content{
    background-color: $white;
    mat-form-field{
        ::ng-deep .mat-form-field-infix {
            border-top: 0.63em solid transparent;
        }
    }
}

.dropdown small{
    top: 72px;
    left: 20px;
}


/* Card styles */


