<div class="performance-dialog-wrapper">
    <mat-icon mat-dialog-close>close</mat-icon>
    <div class="performance-dialog-header">
        <div class="header-info">
            <span>Training Project: <b>Training Project React.js</b> </span>
            <div class="reviewed_by">
                REVIEWED BY: <span><b>Rabban Ahmad (Project Manager)</b></span>
            </div>
        </div>
        <div class="performance-dialog-body">
            <div class="honours ">
                <h6>HOUORNS</h6>
                <ul></ul>
                <span>N/A</span>
            </div>
 
            <div class="rating-skills row">
                <div class="block-wrapper">
                    <div class="block rating-count">
                        <h3>3.4</h3>
                    </div>
                </div>
                <div class="block-wrapper">
                    <div class="block ">
                        <p>Technical skills</p>
                        <h3>3.0</h3>
                    </div>
                </div>
                <div class="block-wrapper">
                    <div class="block ">
                        <p>Technical skills</p>
                        <h3>3.0</h3>
                    </div>
                </div>
                <div class="block-wrapper">
                    <div class="block ">
                        <p>Technical skills</p>
                        <h3>3.0</h3>
                    </div>
                </div>
                <div class="block-wrapper">
                    <div class="block ">
                        <p>Technical skills</p>
                        <h3>3.0</h3>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>