<div class="card">
    <div class="card-body">
        <div class="card-mid">
            <div class="card-mid-row">
                <div class="flex-col-1">
                    <h1>Training Details</h1>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="">Title :</label>
                        <span>Micro Frontend Angular</span>
                    </div>
                    <div class="col-sm-6">
                        <label for="">Training duration:</label>
                        <span>1 Hr.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="">Training dates :</label>
                        <span>Jan-05-2023   -   Jan-05-2023</span>
                    </div>
                    <div class="col-sm-6">
                        <label for="">Training mode :</label>
                        <span>Online</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="">Who can attend :</label>
                        <span>Angular</span>
                    </div>
                    <div class="col-sm-6">
                        <label for="">No. of seats :</label>
                        <span>55</span>
                    </div>
                </div>
            </div>
            <div class="card-mid-row">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Description</h2>
                    </div>
    
                    <div class="col-sm-12">
                        <div class="job-content">
                            <h3>Micro Frontends is to think about a website or web app as a composition of features which are owned by independent teams. Each team has a distinct area of business or mission it cares about and specialises in. A team is cross functional and develops its features end-to-end, from database to user interface.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-mid-row row">
                <div class="col-sm-12">
                    <h2>Support details</h2>
                </div>
                <div class="col-sm-12">
                    <div class="job-content ">
                        <h3>This is online training, so no support required.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


