  <section>
      <div class="basic-information">
        <div class="user-basic-info" [formGroup]="basicInfoForm"> 
          <h1>Basic Information</h1>
        
          <div class="basic-information-form">
            <div class="row">
              <div class="col-sm-12">
                
                <div class="row">
                  <div class="col-lg-4">
                    <label for="">First Name</label><br>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Name" formControlName="firstName" (keydown)="_utilities.noSpace($event)">
                      <mat-error>{{basicInfoForm | validationError:'firstName':'First Name' }}</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4">
                    <label for="">Last Name</label><br>
                    <mat-form-field appearance="outline" style="position: relative;" >
                      <input matInput placeholder="Name" formControlName="lastName" (keydown)="_utilities.noSpace($event)">
                      <mat-error>{{basicInfoForm | validationError:'lastName':'Last Name' }}</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4">
                    <label for="">Date of Birth</label><br>
                    <mat-form-field appearance="outline" style="position: relative;" >
                      <input [max]="today" [readonly]="true" matInput [matDatepicker]="picker1" placeholder="MM/DD/YYYY" formControlName="dateOfBirth">
                      <mat-error>{{basicInfoForm | validationError:'dateOfBirth':'Date Of Birth' }}</mat-error>
                      <mat-datepicker-toggle matIconSuffix [for]="picker1" style="position: absolute;top: 0px;right: 0px;"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
      
                <div class="row">
    
                  <div class="col-lg-4 dropdown" >
                      <label for="" >Gender</label><br>
                      <div class="dropdown-body">
                        <app-dropdown [progchangedValue]="this.basicInfoForm.controls.genderr.value"  [controlName]="basicInfoForm.controls.genderr"  [placeHolder]="genderPlaceHolder" [data]="gender" (outputData)="selectedValue($event,'genderr')"></app-dropdown>
                        <small *ngIf="this.basicInfoForm.controls.genderr.touched">{{basicInfoForm | validationError:'genderr':'Gender' }}</small>
                      </div>
                  </div>
                  
                  <div class="col-lg-4 dropdown"  >
                    <label for="" >Marriage status</label><br>
                    <div class="dropdown-body">
                      <app-dropdown [progchangedValue]="this.basicInfoForm.controls.marriageStatus.value" [placeHolder]="marriagePlaceHolder" [data]="marriage" (outputData)="selectedValue($event,'marriageStatus')"></app-dropdown>
                      <small *ngIf="this.basicInfoForm.controls.marriageStatus.touched">{{basicInfoForm | validationError:'marriageStatus':'Marriage Status' }}</small>
                    </div>
                  </div>
                  
                  <div class="col-lg-4">
                    <label for="">Contact Number</label>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Number"  formControlName="contactNumber" (keydown)="_utilities.noSpace($event)">
                      <mat-error>{{basicInfoForm | validationError:'contactNumber':'Contact Number' }}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
      
                <div class="total-experience row">
                  <div class="col-md-6">
                    <label for="">Total Working Experience</label>
                    <div class="row">
                      <div class="col">
                        <label for="">Years</label>
                        <mat-form-field appearance="outline" >
                          <input matInput placeholder="Years" type="number" formControlName="YearOfExperience" (keydown)="_utilities.noSpace($event)">
                          <mat-error>{{basicInfoForm | validationError:'YearOfExperience':'Year Of Experience' }}</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <label for="">Months</label>
                        <mat-form-field appearance="outline" >
                          <input matInput placeholder="Months" type="number" max="11" formControlName="yearOfExperienceMonth" (keydown)="_utilities.noSpace($event)">
                          <mat-error>{{basicInfoForm | validationError:'yearOfExperienceMonth':'Year Of Experience in Month' }}</mat-error>
                        </mat-form-field>
                      </div> 
                    </div>
                  </div>
        
                  <div class="col-md-6">
                    <label for="">Total Working Experience</label>
                    <div class="row">
                      <div class="col">
                        <label for="">Years</label>
                        <mat-form-field appearance="outline" >
                          <input matInput placeholder="Years" type="number" formControlName="relevantExperience" (keydown)="_utilities.noSpace($event)">
                          <mat-error>{{basicInfoForm | validationError:'relevantExperience':'Relevant Experience' }}</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <label for="">Months</label>
                        <mat-form-field appearance="outline" >
                          <input matInput placeholder="Months" type="number" max="11" formControlName="relevantExperienceMonth" (keydown)="_utilities.noSpace($event)">
                          <mat-error>{{basicInfoForm | validationError:'relevantExperienceMonth':'Relevant Experience in Month' }}</mat-error>
                        </mat-form-field>
                      </div> 
                    </div>
                  </div>
                </div>
                <div class="form-action">
                  <button class="button" (click)="saveBasicInfo()">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
