@import "./../../../../../scss/var",
        "./../../../../../scss/theme/grid",
        './../../../../../scss/theme/wrapper',
        './../../../../../scss/mixins/flex';

.custom-error {
  height: 12px;
  font-size: 11px;
}

.basic-information {
  // margin-top: 20px;
  .user-basic-info {
    // padding: 20px 10px;
    width: 100%;
    background-clip: content-box;
    background-color: white;
    @include border-radius(10px ,10px ,10px, 10px);
    h1 {
      padding: 20px;
      margin: 0px;
      color: blue;
      font-weight: 500;
    }
    .form-action {
      padding: 24px 10px;
      button {
        color: white;
        background-color: $primary;
        border: 0px;
        height: 37px;
        width: 64px;
        font-weight: 13px;
        font-weight: 500;
        border-radius: 6px;
      }
    }
  }
  
}
.total-experience{
  .col-md-6{
    .col{
      padding-left: 0px;
    }
  }
}
.dropdown {
  .dropdown-body {
    position: relative;
    top: -4px;
  }
  small {
    color: red;
    position: absolute;
    top: 50px;
    left: 10px;
    font-size: 11px;
  }
}

