@import './../../../../../scss/mixins/flex',
        './../../../../../scss/var',
        './../../../../../scss/mixins/media',
        './../../../../../scss//theme/grid';

.pitch-wrapper{
    background-color: $lightblue;
    padding: 32px;
    @include media(lg){
      padding: 16px;
    }
    .pitch-header{
        @include flex(center,space-between);
        @media screen and (max-width: 480px) {
          display: block;

        }
        h1{
            font-size: 24px;
            color: #199CFF;
            margin: 0px;
            @media screen and (max-width: 480px) {
              text-align: center;
            }
            
        }
        .pitch-action-btn{
            @media screen and (max-width: 480px) {
              display: flex;
              flex-direction: column ;
              
            }
            button{
                width: 100px;
                height: 40px;
                margin: 10px 0px 10px 10px;
                border: 1px solid rgb(212, 208, 208);
                border-radius: 5px;
                @media screen and (max-width: 480px) {
                  width: 100%;
                  margin: 10px 0px;
                }

            }
            button:nth-child(2){
                color:$white;
                background-color: #199CFF;
            }
        }
    }
    hr{
      margin: 10px 0px;
    }
    .pitch-content{
        background-color: $white;
        padding: 24px;
        @include media(lg){
          padding: 16px 0px;
        }
        .pitch-card{
            .pitch-details{
                .file{
                    flex-direction:column !important;
                    min-height: 120px;
                    input{
                        border: 1px solid #d8d8d8;
                        border-radius: 5px;
                        width: 100%;
                        padding: 15px;
                    }
                }
            }
        }
        mat-form-field{
            width: 100%;
            padding: 5px;
        }
        
        editor{
            width: 100%;
            // height: 200px;
        }

        // .tox-tinymce{
        //     // height: 200px !important;
        // }

    }
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #4285f4;
}
::selection{
  color: #fff;
  background: #4285f4;
}
.wrapper{
  position: relative;
  width: 100%;
  // border: 1px solid #d5d1d1 !important;
  border-radius: 7px;
  // box-shadow: 0px 4px 8px rgb(44 39 56 / 4%) !important;
  z-index: 100 !important;
 
}
.select-btn, li{
  display: flex;
  align-items: center;
  cursor: pointer;
  input{

    // height: 100%;
    width: 100%;
    border: 0px !important;
  }
  input:focus-visible {
    outline: 0px !important;
  }
}
.select-btn span{
  height: 15px;
  color: #B3B3B3;
}
.select-btn{
  // height: 54px;
  // padding: 0 20px;
  font-size: 16px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  // box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btn i{
  font-size: 15px;
  transition: transform 0.3s linear;
}
.wrapper.active .select-btn i{
  transform: rotate(-180deg);
}
.content{
  width: 100%;
  position: absolute;
  display: none;
  padding: 20px;
  margin-top: 1px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.wrapper.active .content{
  display: block;
}
.content .search{
  position: relative;
}
.search i{
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input{
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #B3B3B3;
}
.search input:focus{
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search input::placeholder{
  color: #bfbfbf;
}
.content .options{
  margin-top: 10px;
  height: 90%;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar{
  width: 5px;
}
.options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.options li{
  height: 35px;
  padding: 0 13px;
  font-size: 18px;
}
.options li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}
