@import "./../../../../../scss/var";
@import './../../../../../scss/mixins/flex';
@import './../../../../../scss/theme/card';


  
.latest-opning{
    width: 100%;
    // padding: 24px;
    border-right: 1px solid thin;
    height: 100%;
    @media screen and (max-width: 1300px) {
      padding: 0px;

    }
    .card{
        border: 0px;
        // padding: 15px;
        // height: 100%;
        .card-header{
            @include flex(center,space-between);
            border: 0px;
            background-color: $white;
            
            h1{
              font-size: 20px;
              font-weight: 500;
            }
            button{
                border: 0px;
                background-color: $primary;
                color: $white;
                height: 28px;
                min-width: 64px;
                border-radius: 4px;
                font-size: 11px;
                font-weight: 500;
            }
        }
        
    }
}

.main{
    position: relative !important;
    overflow: hidden !important;
    min-height: 500px !important;
    // height:100% !important;
    width: 100% !important;

    // animation: transform 1s linear !important;
    .card-body{
        height: 100%;
        position: absolute !important;
        width: 90% !important;
        // height: 170px !important;
        transition: 1s;
        border: 1px solid rgba(150, 165, 184, 0.3);
        border-radius: 5px;
        .card-body-top{
          background-clip:border-box;
          padding: 0px 20px;
          height: 180px;
          background-color: $backgroundcolor;
          @include flex(center,center);
          flex-direction: column;
          figure{
            @include flex(center,center);
            img{
              height: 100px;
              width: 100px;
            }
          }
          .job-opining-info{
            width: 100%;
            @include flex(normal,space-between);
            @media screen and (max-width: 1400px) {
              display: block;
              .location{
                width: 100%;
                h3{
                  width: 100%;
                  p{
                  text-overflow: ellipsis !important; 
                  }
                }
              }
              .date{
                width: 100%;
                @include flex(center,center);
              }
            }

            .location{
              // min-width: 160px;
              height: 30px;
              position: relative !important;
              ::ng-deep .mat-icon{
                position: absolute;
                top: 6px !important;
                left: 7px !important;
                width: 9px;
                height: 12px;
                font-size: 15px;
                margin-right: 8px !important;
              
              }
              h3{
                font-size: 12px;
                font-weight: 400;
                color: #231E1E;
                text-align: center;
                background-color: $white;
                border-radius: 15px;
                overflow: hidden;
                max-height: 28px;
                p{
                  text-overflow: ellipsis !important;

                }
                
              }
            }
            .date{
              font-size: 12px;
              color: #606167;
              font-weight: 500;
            }
          }

        }
        .card-body-mid{
          .job-description{
            border-bottom: 1px solid rgba(150, 165, 184, 0.3);
            h3{
              font-size: 20px;
              color: #231E1E;
              margin: 10px 0px !important;
            }
            p{
              color: #606167;
              word-break: break-all;
              min-height: 40px;
              overflow-y: hidden;
              margin-bottom:8px!important;

            }
          }
          .job-data{
            @include flex(normal,space-between);
            margin: 10px 0px !important;
            
            .no_opeanings{
              p{
                font-size: 10px;
                margin-bottom: 16px !important;
              }
              h4{
                font-size: 16px;
                margin-bottom: 16px !important;
                font-weight: 500;
              }
            }
            .no_experience{
              p{
                font-size: 10px;
                margin-bottom: 16px !important;
              }
              h4{
                font-size: 16px;
                margin-bottom: 16px !important;
                font-weight: 500;
              }
            }

          }
        }
        .card-body-bottom{
      
          .btn-wrapper{
            @include flex(normal,space-between);
            button{
              border: 1px solid rgba(150, 165, 184, 0.3);
              width: 45%;
              margin: 0px !important;
              padding: 0px !important;
              height: 50px;
              font-size: 14px;
              background-color: $white;
              color: #199CFF;
              font-weight: 500;
              border-radius: 5px;
            }
            @media screen and (max-width: 600px) {
              display: block;
              button{
                width: 100%;
                margin: 10px 0px !important;
              }
            }
            
          }
        }

      }

   
}