<div class="latest-opning">
    <div class="card" >
        <div class="card-header">
            <h1>Latest Job Opnings</h1>
            <button class="view-all-btn" >View All</button>
        </div>
        <div class="main">
            <div class="card-body" >
                <div class="card-body-top">
                    <figure class="img-wrapper">
                        <img [src]="'../../../../../assets/job-opening-icon/'+singleJobData.job_img" alt="">
                    </figure><br>
                    <div class="job-opining-info">
                        <div class="location">
                            <!-- <mat-icon>location_on</mat-icon> -->
                            <h3>
                                <p>{{singleJobData.location}}</p>
                            </h3>
                        </div>
                        <div class="date">
                            {{singleJobData.date}}
                        </div>
                    </div>
                </div>
                <div class="card-body-mid">
                    <div class="job-description">
                        <h3>{{singleJobData.job_title}} - <span class="department_name">{{singleJobData.department}}</span></h3>
                        <p>{{singleJobData.job_description}}</p>
                    </div>
                    <div class="job-data">
                       
                        <div class="no_opeanings">
                            <p>No. of Openings</p>
                            <h4>{{singleJobData.openings_count}}</h4>
                        </div>
                        <div class="no_experience">
                            <p>Experience</p>
                            <h4>{{singleJobData.job_experience_required}}</h4>
                        </div>
                       
                    </div>
                </div>
                <div class="card-body-bottom">
                    <div class="btn-wrapper">
                        <button [routerLink]="['../job-details/' + singleJobData.job_id]" >View Details</button>
                        <button (click)="openDialog()" class="btn2">Refer a Candidate</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
    
</div>