@import '../../../../../scss/mixins/flex';
@import '../../../../../scss/var',
        '../../../../../scss/theme/wrapper';

.entrepreneurship-wrapper{
    background-color:$lightblue;
    .entrepreneurship-body{
        @include flex(center,center);
        margin: 0px auto;
        max-width: 1140px;
        padding: 24px;
        column-gap: 50px;
        .entrepreneurship-content{
            width: 50%;
            margin:100px 0px;
            // padding: 0px 100px;
            .hero-copy{
                .btn-wrapper{
                    button{
                        height: 40px;
                        background-color: $primary ;
                        color:$white;
                        font-size: 15px;
                        border-radius: 5px;
                        border: 0px;
                    }
                }
            }
        }
        .entrepreneurship-media{
            width: 50%;
            .media{
                position: relative;
                @include flex(center,center);
                .absolute{
                    position: absolute;
                }
                .header-illustration{
                    z-index: 0;
                    height: 49px;
                    width: 30px;
                }
                .hero-media-illustration{
                    z-index: 1;
                    height: 749px;
                    width: 730px;
                }
                .hero-media-container{
                    z-index: 2;
                }
            }
        }
    }
}