<div class="change-password-wrapper">
    <div class="change-password-header">
        <h6>Employee Force Change Password</h6>
    </div>
    <div class="card">
        <div class="card-body" [formGroup]="passwordForm">
            <div class="row">
                <div class="input-field">
                    <label for="">Old Password</label>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Old Password" formControlName="oldPassword">
                      <mat-error>{{passwordForm | validationError:'oldPassword':'oldPassword' }}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="">New Password</label>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="New Password" formControlName="password">
                      <mat-error>{{passwordForm | validationError:'password':'password' }}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="">Confirm Password</label>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
                      <mat-error>{{passwordForm | validationError:'confirmPassword':'confirmPassword' }}</mat-error>
                      
                    </mat-form-field>
                </div>
            </div>
            <div class="form-action">
                <button (click)="passwordChanged()">Save</button>
              </div>
        </div>
    </div>
</div>

<!-- <app-custom-carossuel></app-custom-carossuel> -->