@import './../../../../../scss/var',
'./../../../../../scss/theme/wrapper';;

.change-password-wrapper{
    background-color: white;
    padding: 24px;
    .change-password-header{
        h6{
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #3246d3;
            font-weight: 700;
        }
    }
    .card{
        border: 0px;
        .card-body{
            .row{
                mat-form-field{
                    width: 100%;
                }
            }
            .form-action{
                padding: 24px 24px 24px 0px;
                button{
                  color: white;
                  background-color: $primary;
                  border: 0px;
                  height: 37px;
                  width: 64px;
                  font-weight: 13px;
                  font-weight: 500;
                  border-radius: 6px;
                }
              }
           
        }
    }
    
}