<div class="shift-wrapper">
    <div class="shift-wrapper-header"> 
        <h1>List All Shift</h1>
        <div class="card">
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>Date of Joining</th>
                            <th>Office Shift</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                Feb-07-2022
                            </th>
                            <th>
                                Morning Shift
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
