<div class="main">
    <div class="training">
        <h2>Training </h2>
        <div class="info">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <label for="">Title :</label>
                        <p>Angular Training Feb- 2022</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <label for="">Start dates :</label>
                        <p>Feb-28-2022</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <label for="">End dates :</label>
                        <p>Apr-02-2022</p>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <label for="">Training mode :</label>
                        <p>Online</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <label for="">Batch :</label>
                        <p>Feb-2022 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="description mt-4">
        <h2>Description</h2>
        <hr>
        <div class="jd-description">
            <h3 class="jd_descp">Angular Training Feb- 2022 - Uploaded from sheet  </h3>
        </div>
    </div>

    <div class="topics mt-4">
        <h2>Topics</h2>
        <hr>

    </div>

</div>