@import '../../../../../scss/theme/wrapper',
        '../../../../../scss/var',
        '../../../../../scss/theme/grid',
        '../../../../../scss/mixins/media';

mat-form-field{
    width: 100%;
}
textarea{
  width: 100%;
  min-height: 100px;
}
.wrapper{
    .request-assets{
        margin: auto;
        background-color: $white;
        padding: 10px;
        .button{
            margin: auto;
            float: right;
            min-width: 140px;
            background-color: #3246d3;
            box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
            font-size: 15px;
            font-weight: 600;
            @include media(sm){
                width: 100%;
            }
        }
    }
    .assest-wrapper{
        background-color: $white;
        .wrapper-heading{
            padding: 10px;
            h1{
                margin: 0px;
            }
        }
    }
}


/* Button skeleton */

$purple : #512DA8;

.row{
  display: flex;
}

@mixin buttonBG($bg) {
  border: 2px solid $bg;
  color: $bg;
  &:hover {
    background-color: $bg;
    transition: all 0.3s ease-in-out;
  }
}



/* Button styles */
.purple{
  @include buttonBG($purple);
}

/* Card styles */
.my-card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  width: 100%;
}

.my-card-content {
  margin: 0rem 1rem;
  height: 0px;
  visibility: hidden;
  transition: margin 225ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-card-content.expand {
  margin:10px 0px;
  height: initial;
  visibility: visible;
}

.seperator {
  margin: 1rem;
}

.dropdown{
  .dropdown-body{
    position: relative;
  }
  small{
    color: red;
    position: absolute;
    top: 73px;
    left: 10px;
  }
}



