<section>
    <div class="wrapper">
        <div class="request-assets">
            <div [ngClass]="{'my-card': true}" class="col-md-12">
                <div class="col-md-12">
                    <button class="button col-md-2 " (click)="toggleCard()"> + Add New Assets Request</button>
                </div>
            </div>
            <div [ngClass]="{'my-card-content': true, 'expand': isOpen}">
                <div class="row">
                    <div class="box-block" [formGroup]="requestAssetsForm">
                        <div class="row" >
                          <div class="col-md-12 pd-10">
                            <div class="row">
                              <div class="col-md-3">
                                <div class="form-group dropdown">
                                  <label for="short_description">Assets Categories * </label>   
                                  <div class="dropdown-body">
                                    <app-dropdown [data]="assetsCategoryDropdown" (outputData)="selectedValue($event,'assetsCategory')"></app-dropdown>
                                  </div>                   
                                  <small *ngIf="this.requestAssetsForm.controls.assetsCategory.touched">{{requestAssetsForm | validationError:'assetsCategory':'Department' }}</small>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group dropdown">
                                  <label for="short_description">Quantity *</label>
                                  <div class="dropdown-body">
                                    <app-dropdown [data]="quantityDropdown" (outputData)="selectedValue($event,'quantity')"></app-dropdown>
                                  </div>
                                  <small *ngIf="this.requestAssetsForm.controls.quantity.touched">{{requestAssetsForm | validationError:'quantity':'Quality' }}</small>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group dropdown">
                                  <label for="short_description">Priority *</label>
                                  <div class="dropdown-body">
                                    <app-dropdown [data]="priorityDropdown" (outputData)="selectedValue($event,'priority')"></app-dropdown>
                                  </div>
                                  <small *ngIf="this.requestAssetsForm.controls.priority.touched">{{requestAssetsForm | validationError:'priority':'Priority' }}</small>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label for="short_description">Required by Date * </label>
                                  <mat-form-field appearance="outline" style="position: relative;" >
                                    <input matInput [max]="today" [matDatepicker]="fromTimePerioed" placeholder="MM/DD/YYYY" formControlName="requestedDate">
                                    <mat-datepicker-toggle matIconSuffix [for]="fromTimePerioed" style="position: absolute;top: 0px;right: 0px;"></mat-datepicker-toggle>
                                    <mat-datepicker #fromTimePerioed></mat-datepicker>
                                    <mat-error>{{requestAssetsForm | validationError : 'requestedDate' : 'Requested Date' }}</mat-error>
                                  </mat-form-field>
                                </div>
                              </div>
            
                              <div class="col-md-3">
                                <div class="form-group dropdown">
                                  <label for="experience" class="control-label">Allocation type *  </label>
                                  <div class="dropdown-body">
                                    <app-dropdown [data]="allocationTypeDropdown" (outputData)="selectedValue($event,'allocationType')"></app-dropdown>
                                  </div>
                                  <small *ngIf="this.requestAssetsForm.controls.allocationType.touched">{{requestAssetsForm | validationError:'allocationType':'Allocation Type' }}</small>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                              <div class="col-md-12">
                                <label for="short_description">Request Reason *</label>
                                <textarea formControlName="requestReason"></textarea>
                                <small class="error" *ngIf="this.requestAssetsForm.controls.requestReason.touched">{{requestAssetsForm | validationError:'requestReason':'Request Reason' }}</small>
                              </div>
                            </div>
                        </div>
                        <div class="form-actions align-center text-center col-md-12">
                            <div class="col-md-12">
                                <button (click)="requestAssetsSubmit()" id="assetDeclarationSaveBtn" type="submit" class="button"> <i class="fa fa-check-square-o"></i> Submit </button>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="assest-wrapper">
            <div class="wrapper-heading">
                <h1 class="dark-header">List All Assets Inventory</h1>
            </div>
            <app-table [columns]="headings" [dataSource]="datasource"></app-table>
        </div>
    </div>

</section>
