<div class="container">
    <div class=" mt-10 top">
        <div>
            <mat-icon routerLink="../lunch-coupon">keyboard_arrow_left</mat-icon>
        </div>
        <h2 >
            Lunch Coupon
        </h2>
        <p>
            Note: You can purchase/cancel a coupon for the upcoming day before 6 p.m. today.
        </p>
    </div>
    
    <div class="amount-due">
        <h1>Amount Due</h1>
        <h3>Rs. {{couponForm.controls.total_amount.value}}</h3>
        <span>
            Note: Amount due need to paid in cash in account office.
        </span>
    </div>

    <div class="middle" [formGroup]="couponForm">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input mr-10">
                            <mat-label class="fw-600">Coupon Count</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="coupon_count">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input mr-10">
                            <mat-label class="fw-600">Total Amount</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="total_amount">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="buttons-wrapper " style="width: 100%;">
                    <div class="row">
                        <div class="col-md-6">
                            <button (click)="buyCoupons()" class="button submit-btn mr-10">submit</button>
                        </div>
                        <div class="col-md-6">
                            <button class="button cancel-btn"  (click)="cancelCoupons()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="bottom">


        <app-lunch-calendar [myCalendar]="myCalendar" [options]="options" (calendarData)="updateCalendarData($event)">
        </app-lunch-calendar>

    </div>
</div>