@import '../../../../../scss/mixins/media',
        '../../../../../scss/mixins/flex',
        '../../../../../scss/mixins/media',
        '../../../../../scss/var',
        '../../../../../scss/mixins/media';


::ng-deep .mat-form-field-underline{
  display: none;
}



::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}


section {
  padding: 30px;
  overflow-x: auto;
  position: relative;
  background-color: $white;
  .filter-options{
    min-height: 70px;
    display: flex;
    @include flex(normal,space-between);
    @include media(sm){
      display: block;
    }
    

    label{
      line-height: 3;
    }
    .dropdown{


      @include media(sm){
        width: 100%;
      }
    }
    .searchbar{
      display: flex;
      ::ng-deep .mat-form-field-flex{
      border: 1px solid #d8d8d8;
    }
   
      mat-form-field{
        margin-left: 10px;
      }
      @include media(sm){
        width: 100%;
      }
    }
  }
  ::ng-deep .mat-paginator-page-size{
    position: absolute;
    top: 25px;
    left: 83px;
    width: 65px;
    .mat-paginator-page-size-label{
      display: none;
    }
    
    
  }
  table {
    // line-height: 3.6;
    // margin: 20px;
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    mat-paginator{
      ::ng-deep .mat-form-field-flex{
        border: 1px solid #d8d8d8;
      }
    }
    th {
      // border: 1px solid rgb(235, 235, 235);
      font-size: 14px;
      text-align: center !important;
      margin-bottom: 20px;
      color:rgb(58, 56, 56);
      
    }
    td {
      //  background-color: rgb(235, 235, 235);
      text-align: center;
      .download_link{
        padding: 5px;
        background-color: #F8F8F8;
        a{
          color: #199CFF;
          text-decoration: none;
          mat-icon{
            margin-left:5px;
            color: #199CFF;
          }
        }
      }
    }
    a{
      position: relative;
    }
    mat-icon {
      position: absolute;
      top: -3px;
    //   color: $primary;
      margin-right: 4px;
    }
    
  }
  }


::ng-deep {
    .mat-table{
      .mat-header-row{
        height: 43px;
        .mat-header-cell{
          border-right: 1px solid #ebebeb;
        }
      }
    }
    .mat-paginator{
      .mat-form-field-flex{
        border: 1px solid #d8d8d8;
    }
    .mat-select-value-text{
      @include flex(center,center);
    }
    .mat-input-element{
      padding-left: 10px;
    }
  }
}

::ng-deep .mat-form-field-infix{
  border-top: 0.5em solid transparent;
  .mat-input-element{
    padding-left: 10px;
  }
}

table{
    width: 100%;
    
    td{
       text-align: center;
      .text-with-icon{
        line-height: 1.3;
      }
    }
}

.actionIcon{ 
    font-size: 5px;
    // color: #199CFF;
    // margin: 10px;
    // padding: 5px;
    // background-color: #F8F8F8;
    // border-radius: 5px;
    // .mat-18{
    //   font-size: 17px;
    // }
    button{
      font-size: 11px;
      height: 29px;
      line-height: 1.6;
    }
  }
  .mat-cell{
    background-color: white;
  }