@import '../../../../../scss/mixins/media';
section {
  padding: 5px;
  overflow: scroll;
    table {
      line-height: 3.6;
      // margin: 20px;
      width: 100%;
      border: 1px solid rgb(235, 235, 235);
      th {
        border: 1px solid rgb(235, 235, 235);
        font-size: 14px;
        text-align: center !important;
        margin-bottom: 20px;
        color:rgb(58, 56, 56);
       
      }
      td {
        //  background-color: rgb(235, 235, 235);
        text-align: center;
      }
      a{
        position: relative;
      }
      mat-icon {
        position: absolute;
        top: -3px;
      //   color: $primary;
        margin-right: 4px;
      }
      
    }
  }
table{
    width: 100%;
    
    td{
       text-align: center;
    }
}

.actionIcon{ 
    font-size: 5px;
    // color: #199CFF;
    // margin: 10px;
    // padding: 5px;
    // background-color: #F8F8F8;
    // border-radius: 5px;
    // .mat-18{
    //   font-size: 17px;
    // }
    button{
      font-size: 11px;
      height: 29px;
      line-height: 1.6;
    }
  }
  .mat-cell{
    background-color: white;
  }