@import '../../../../../scss/theme/wrapper',
        '../../../../../scss/theme/grid',
        '../../../../../scss/theme/margin',
        '../../../../../scss/theme/padding',
        '../../../../../scss/var',
        '../../../../../scss/mixins/flex';


.card{
    background-color: $white;
}
.card-body{
    padding: 24px;
}

.small{
    color:#a3a4a6;
    font-size: 13px;
}
.calendar-icon{
    mat-icon{
        color:goldenrod;
    }
}
mat-form-field{
    width: 100%;
}

.leave-header{
    color: #3246d3;
    font-size: 20px;
    font-weight: 700;
}

.wrapper{
    hr{
        border: 0px;
    }
    .add-leave{
        @include flex(center,space-between);
        padding:20px 20px;
        span{
            @include media(md){
                padding: 10px 0px;
            }
        }
        @include media(md){
            padding: 15px;
        }
    }
    .leave-content{
        .action-btn{
            .button{
                margin: 20px 10px;
                background-color: #1da81b !important;
                @include media(md){
                    margin: 20px 0px;
                }
            
            }
            button:nth-child(2){
                background-color: #d9534f !important;
            }
        }
    }
    .leave-section{
        background-color: $white;
        border-radius: 5px;
        margin: 10px;
    }

    .ticket-list{
        background-color: $white;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }
}
.file{
    flex-direction:column !important;
    min-height: 120px;
    input{
        border: 1px solid #d8d8d8 ;
        border-radius: 5px;
        width: 100%;
        padding: 15px;
        box-shadow: 0px 4px 8px rgb(44 39 56 / 4%)
    }
}
.dropdown{
    .dropdown-body{
      position: relative;
      top: -4px;
    }
    small{
      color: red;
      position: absolute;
      top: 73px;
      left: 10px;
    }
  }
  
  mat-radio-button{
    color: #666;
  }

  ::ng-deep .mat-form-field-outline{
    // box-shadow: 0px 4px 8px rgb(44 39 56 / 4%);
  }
