<div class="latest-job-cards-wrapper">
    <ng-container *ngFor="let job of jobOpeningsData">
        <ng-template #listOfDivs>
            <div class="card-wrapper">
                <app-latest-job [singleJobData]="job"></app-latest-job>
            </div>
        </ng-template>
    </ng-container>
    
    <ng-container *ngIf="render_child">
        <app-resp-carousel [buttondata]="buttondata" [listToShow]="dataSource" [gridConfig]="gridConfig" >
    
        </app-resp-carousel>
    </ng-container>
</div>