@import '../../../../../scss/theme/card',
        '../../../../../scss/var',
        '../../../../../scss/theme/wrapper';

      
.wrapper{
    .card{
        background-color: $lightblue;
        border: 0px;

    }
}

.button{
    margin: 5px;
    height: 40px;
    color: $white;
    background-color: $primary;
    border: 0px;
    border-radius: 5px;
}