<div class="directory-wrapper">
    <div class="directory-header">
        <h1>Employee Directory</h1>
        <hr>
        <div class="directory-header-main row">
            <div class="col-lg-4">
                <div class="col-lg-12">
                    <label for="">Name</label><br>
                    <app-searchbar [data]="directoryData" [reset]="reset"   (filteData)="filterDataHandler($event)"  (keyup)="keyfunc($event)"></app-searchbar>          
                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-12">
                    <label for="">Department</label>
                    <app-dropdown [placeHolder]="departmentPlaceholder" [data]="dropDownData"  (outputData)="eventHandler($event)"></app-dropdown>                 
                </div>
            </div>
            <div class="col-lg-4 button-wrapper">
                <div class="col-lg-12">
                    <button (click)="clickReset()">Reset</button>
                    <button (click)="clickSearch()"> <mat-icon>search</mat-icon> <span>Search</span></button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="directory-body flex-wrap" >
        <div class="card" *ngFor="let person of filterData">
            <div class="directory-card-top"  >
                <div class="top-animation-div"></div>
                <div class="img-wrapper">
                    <img src="../../../../assets/abk.jpeg" alt="">
                </div>
            </div>
            <div class="directory-card-mid" >
                <h3 class="name">{{person.name}}</h3>
                <h4 class="title">{{person.profile}}</h4>

                <ul>
                    <li>{{person.email}}</li>
                    <li>{{person.DOB}}</li>
                </ul>
                <div class="bottom-animation-div-wrapper">
                    <div class="bottom-animation-div"></div>
                </div>
            </div>
           
        </div>
    </div>
</div>

<!-- <button (click)="click()">click</button> -->