<div class="directory-wrapper">
    <div class="directory-header">
        <h1>Employee Directory</h1>
        <div class="directory-header-main Row">
            <div class="column-3">
                <div class="input-group">
                    <label for="">Name</label><br>
                    <app-searchbar [data]="membersList" [reset]="reset"  (filteData)="filterDataHandler($event)"  (keyup)="keyfunc($event)"></app-searchbar>          
                </div>
            </div>
            <div class="column-3">
                <div class="input-group">
                    <label for="">Department</label>
                    <app-dropdown [data]="data"></app-dropdown>                 
                </div>
            </div>
            <div class="column-3 button-wrapper">
                <div class="input-group ">
                    <button (click)="clickReset()">Reset</button>
                    <button (click)=" clickSearch()"> <mat-icon>search</mat-icon> <span>Search</span></button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="directory-body flex-wrap">
        <div class="card" *ngFor="let person of showList">
            <div class="directory-card-top">
                <div class="top-animation-div"></div>
                <div class="img-wrapper">
                    <img src="../../../../assets/abk.jpeg" alt="">
                </div>
            </div>
            <div class="directory-card-mid">
                <h3 class="name">{{person.name}}</h3>
                <h4 class="title">{{person.position}}</h4>

                <ul>
                    <li>{{person.email}}</li>
                    <li>{{person.DOB}}</li>
                </ul>
                <div class="bottom-animation-div-wrapper">
                    <div class="bottom-animation-div"></div>
                </div>
            </div>
           
        </div>
    </div>
</div>