<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->

<div class="dialog-wrapper">

    
    <div class="dialog-wrapper-header">
        <h1 >Refer a Candidate</h1>
        <button mat-button (click)="onNoClick()"><mat-icon>close</mat-icon></button>
    </div>
    <div class="dialog-wrapper-body" [formGroup]="dialogForm">
        <div class="title">
          
            <div class="row ">
                <div class="col-1 dropdown-divider"></div>
                <div class="col-auto"><h3>Job Details</h3> </div>
                <div class="col dropdown-divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-field">
                    <label for="">Department Name</label><br>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Name" formControlName="departmentName">
                      <mat-error>{{dialogForm | validationError :'departmentName' :'Department Name'}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-field">
                    <label for="">Job Code</label><br>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Name" formControlName="jobCode">
                      <mat-error>{{dialogForm | validationError :'jobCode' :'Job Code'}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-field">
                    <label for="">Location</label> <br>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Name" formControlName="location">
                      <mat-error>{{dialogForm | validationError :'location' :'Location'}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-field">
                    <label for="">Experience</label><br>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Name" formControlName="experience">
                      <mat-error>{{dialogForm | validationError :'experience' :'Experience'}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="title">
            <div class="row ">
                <div class="col-1 dropdown-divider"></div>
                <div class="col-auto"><h3>Candidates Details</h3></div>
                <div class="col dropdown-divider"></div>
            </div>
            
        </div>
        <div class="row candidates-field">
            <div class="col-sm-6">
                <div class="input-field">
                    <label for="">Job Location</label>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Name" formControlName="jobLocation">
                      <mat-error>{{dialogForm | validationError :'jobLocation' :'Job Location'}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-field">
                    <label for="">Candidate Name</label>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Name" formControlName="empName">
                      <mat-error>{{dialogForm | validationError :'empName' :'Candidate Name'}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row candidates-field">
            <div class="col-sm-6">
                <div class="input-field">
                    <label for="">Position Title</label>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Name" formControlName="projectTitle">
                      <mat-error>{{dialogForm | validationError :'projectTitle' :'Project Title'}}</mat-error>

                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-field">
                    <label for="">Experience</label>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Name" formControlName="experience">
                      <mat-error>{{dialogForm | validationError :'experience' :'Experience'}}</mat-error>

                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row candidates-field">
            <div class="col-sm-6">
                <div class="input-field">
                    <label for="">Email ID</label>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Name" formControlName="email">
                      <mat-error>{{dialogForm | validationError :'email' :'Email'}}</mat-error>

                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-field">
                    <label for="">Phone Number</label>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Name" formControlName="phoneNumber">
                      <mat-error>{{dialogForm | validationError :'phoneNumber' :'Phone Number'}}</mat-error>

                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row candidates-field">
            <div class="col-sm-6">
                <div class="input-field">
                    <label for="">Upload CV (pdf,doc)</label>
                    <input type="file" class="file-input" formControlName="file">
                    <mat-error *ngIf="dialogForm.controls.file.touched" class='custom-error'>{{dialogForm | validationError :'file' :'File'}}</mat-error>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-field">
                    <label for="">Skill Set</label>
                    <mat-form-field appearance="outline" class="skill-set" >
                      <input matInput placeholder="Name" formControlName="skill">
                      <mat-error>{{dialogForm | validationError :'skill' :'Skill'}}</mat-error>

                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="action-btn">
            <button (click)="onNoClick()">Cancel</button>
            <button (click)="onSubmit()">Submit</button>
        </div>

    </div>


</div>