@import "../../../../../scss/mixins/flex";
@import "../../../../../scss/var", "../../../../../scss/theme/grid";

.custom-error {
  font-size: 10px;
  margin: 5px;
}
label {
  margin-bottom: 5px;
  color: #96a5b8;
  font-size: 14px;
}

::ng-deep .mat-dialog-container {
  width: 800px;
  padding: 0px !important;
  .dialog-wrapper {
    .dialog-wrapper-header {
      @include flex(normal, space-between);
      width: 100%;
      padding: 10px 30px;
      background-color: #f3f3f3;
      box-sizing: border-box;

      h1 {
        margin: 0px !important;
        color: #199cff;
        font-size: 20px;
      }
      button {
        height: 30px;
        border: 0px;
        border-radius: 50%;
        background-color: $white;
      }
    }
    .dialog-wrapper-body {
      padding: 24px;
      .title {
        padding: 30px 0px 20px 0px;
        h3 {
          // height: 40px;
          margin: 0px !important;
          font-size: 22px;
          font-weight: 500;
        }
      }
      .row {
        width: 100%;
        .col {
          max-width: 100%;
          .input-field {
            width: 100% !important;

            mat-form-field {
              width: 100% !important;
              ::ng-deep .mat-form-field-outline {
                background-color: #f3f3f3;
                box-shadow: 0px 4px 8px rgb(44 39 56 / 4%) !important;
              }
            }
          }
        }
      }
      .candidates-field {
        mat-form-field {
          width: 100% !important;
          ::ng-deep .mat-form-field-outline {
            background-color: $white !important;
            box-shadow: 0px 4px 8px rgb(44 39 56 / 4%) !important;
          }
        }
        .file-input {
          height: 55px;
          border: 1px solid #f3f3f3;
          box-shadow: 0px 4px 8px rgb(44 39 56 / 4%) !important;
          width: 100%;
          box-sizing: border-box;
          padding: 15px;
        }
        .skill-set {
          ::ng-deep .mat-form-field-wrapper {
            height: 135 ppx !important;
          }
          ::ng-deep .mat-form-field-flex {
            height: 140px !important;
          }
        }
      }
      .action-btn {
        display: flex;
        justify-content: flex-end;
        padding: 0px 5px;
        button {
          width: 100px;
          height: 40px;
          font-size: 14px;
          color: #96a5b8;
          padding: 8px 16px;
          margin: 5px;
          border: 1px solid #f3f3f3;
          background-color: $white;
          border-radius: 5px;
        }
        button:nth-child(2) {
          background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0.3) 0%,
              rgba(0, 0, 0, 0.3) 100%
            ),
            #199cff;
          color: $white;
          border-radius: 5px;
          box-shadow: 0px 1px 4px rgb(0 0 0 / 12%),
            inset 0px 2px 0px rgb(255 255 255 / 24%);
          background-blend-mode: soft-light, normal;
          &:hover {
            cursor: pointer;
            background: $primary;
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07),
              0px 4px 5px 0px rgba(0, 0, 0, 0.05),
              0px 1px 10px 0px rgba(0, 0, 0, 0.03);
            color: $white;
          }
        }
      }
    }
  }
}



