<hr>
<div class="notes-wrapper">
    <div class="notes-header">
        <h2>Project Note</h2>
    </div>
    <div class="notes-body">
        <div class="project-plan">
            <div class="project-plan-heading">
                <h3>Project Plan</h3>
                <h4>11 dec, 2020</h4>
            </div>
            <div class="project-plan-body">
                <h3>Download</h3>
            </div>
        </div>

        <hr>

        <div class="project-plan">
            <div class="project-plan-heading">
                <h3>SRS</h3>
                <h4>11 dec, 2020</h4>
            </div>
            <div class="project-plan-body">
                <h3>SRS</h3>
                <h3>Download</h3>
            </div>
        </div>
    </div>

    
    
</div>

<hr>

<app-project-status></app-project-status>