@import './../../../../../scss/global';
@import './../../../../../scss/var',
        './../../../../../scss/mixins/media';
            
    .card{
        height: 100vh;
        background-color: $lightblue;
        padding: 16px;
        @include media(lg){
            padding: 0px;
        }
    }
    .card-header{
        background-color: $lightblue !important;
        border: 0px !important;
        // @include media(xs){
        //     padding: 16px;
        // }
        h1{
            @include media(lg){
                margin: 0px;
            }
        }
    }
    .card-body{
        border: 0px;
        margin:0px 30px ;
        // @include media(xs){
        //     margin: 0px 16px;
        // }
    }
    .table{
        border: 0px;
        background-color: white;
        border-radius: 10px;
       
        ::ng-deep .mat-table {
            tbody{
              tr{
                background-color:white;
              }
            }
          }
    }