.Row{
    display: flex;
}
.column-3{
    width: 33.33%;
}

.column-2{
    width: 50%;
}

.column-1{
    width: 100%;
}

hr{
    margin: 15px 0px;
    border: 0px;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}