<section>
    <div class="basic-information">
      <div class="user-basic-info"> 
        <h1>Add New Qualification</h1>
       
        <div class="basic-information-form" [formGroup]="qualificationForm">
          <div class="row">
            <div class="col-lg-12">

              <div class="row">
                <div class="col-lg-6">
                  <label for="">School/University</label><br>
                  <mat-form-field appearance="outline" >
                    <input matInput placeholder="Name" formControlName="university">
                    <mat-error>{{qualificationForm | validationError : 'university' : 'University' }}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <label for="">Education Level</label><br>
                    <div class="dropdown">
                      <div class="dropdown-body">
                        <app-dropdown [placeHolder]="educationLevelPlaceholder" [progchangedValue]="qualificationForm.controls.education.value" [data]="qualifications" (outputData)="selectedDropdown($event,'education')"></app-dropdown>
                      </div>
                      <small *ngIf="this.qualificationForm.controls.education.touched">{{qualificationForm | validationError : 'education' : 'Education' }}</small>
                  </div>
                </div>
               
              </div>
    
              <div class="row ">
    
                <div class="col-auto">
                  <label for="">Time Period</label>
                </div>
                <div class="col-lg-6">
                    <mat-form-field appearance="outline" style="position: relative;" >
                      <input matInput [matDatepicker]="fromTimePerioed" placeholder="MM/DD/YYYY" formControlName="fromTimePerioed">
                      <mat-datepicker-toggle matIconSuffix [for]="fromTimePerioed" style="position: absolute;top: 0px;right: 0px;"></mat-datepicker-toggle>
                      <mat-datepicker #fromTimePerioed></mat-datepicker>
                      <mat-error>{{qualificationForm | validationError : 'fromTimePerioed' : 'TimePerioed' }}</mat-error>
                    </mat-form-field>
                </div>
    
                <div class="col-lg-6">
                  <mat-form-field appearance="outline" style="position: relative;" >
                    <input matInput [matDatepicker]="toTimePerioed" placeholder="MM/DD/YYYY" formControlName="toTimePerioed" [min]="qualificationForm.controls.fromTimePerioed.value" >
                    <mat-datepicker-toggle matIconSuffix [for]="toTimePerioed" style="position: absolute;top: 0px;right: 0px;"></mat-datepicker-toggle>
                    <mat-datepicker #toTimePerioed></mat-datepicker>
                    <mat-error>{{qualificationForm | validationError : 'toTimePerioed' : 'TimePerioed' }}</mat-error>
                  </mat-form-field>
                </div>
                
              </div>
    
              <div class="row">
                
                <div class="col-lg-6">
                  <label for="" >Language</label><br>
                  <div class="dropdown">
                      <div class="dropdown-body">
                        <app-dropdown  [placeHolder]="languagePlaceHolder" [progchangedValue]="qualificationForm.controls.language.value" [data]="language" (outputData)="selectedDropdown($event,'language')"></app-dropdown>
                      </div>
                      <small *ngIf="this.qualificationForm.controls.language.touched">{{qualificationForm | validationError : 'language' : 'Language' }}</small>
                  </div>
                </div>
                
                  <div class="col-lg-6">
                    <label for="">Professional Courses (if any)</label><br>
                    <mat-form-field appearance="outline" >
                      <input matInput placeholder="Name">
                    </mat-form-field>
                  </div>
                
              </div>
    
                <div class="row">
                  <div class="address col-lg-12">
                    <div class="input-field">
                      <label for="">Description</label><br>
                      <mat-form-field appearance="outline" >
                        <textarea matInput placeholder="Description" formControlName="description"></textarea>
                        <mat-error>{{qualificationForm | validationError : 'description' : 'Description' }}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
              </div>
              <div class="form-action">
                <button class="button" (click)="actionSave()">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="basic-information">
      <div class="user-basic-info"> 
        <h1>List All Qualification</h1>
        <div class="qualification-wrapper">
          
          <div class="qualification-row">
              <app-table [columns]="headings" [dataSource]="datasource" (editEvent)="editEvent($event)"   (deleteEvent)="deleteEvent($event)" ></app-table>
          </div>

        </div>
      </div>
      
    </div>


    </section>
