@import "./../../../../../scss/var";
@import './../../../../../scss/mixins/flex';
@import './../../../../../scss/theme/card',
        './../../../../../scss/theme/grid';

*{
  box-sizing: border-box;
}

.latest-opning{
    width: 100%;
    // padding: 24px;
    background-color: $lightblue;
    border-right: 1px solid thin;
    @media screen and (max-width: 1300px) {
      padding: 0px;

    }
    .card{
        border: 0px;
        padding: 24px;
        background-color: $lightblue;
        .card-header{
            @include flex(center,space-between);
            border: 0px;
            background-color: $lightblue;
            padding: 8px 0px;
            button{
                border: 0px;
                background-color: $primary;
                color: $white;
                height: 28px;
                min-width: 64px;
                border-radius: 4px;
                font-size: 11px;
                font-weight: 500;
            }
        }
        
    }
}

.main{

    min-height: 500px !important;
    width: 100% !important;
    .card-body{
        margin: 16px 0px;
        border: 1px solid rgba(150, 165, 184, 0.3);
        border-radius: 5px;
        background-color: $white;
        .card-body-top{
          background-clip:border-box;
          padding: 0px 20px;
          height: 210px;
          background-color: $backgroundcolor;
          @include flex(center,center);
          flex-direction: column;
          figure{
            @include flex(center,center);
            img{
              height: 100px;
              width: 100px;
            }
          }
          .job-opining-info{
            width: 100%;
            @include flex(normal,space-between);
            @media screen and (max-width: 1400px) {
              display: block;
              .location{
                width: 100%;
                h3{
                  width: 100%;
                  box-sizing: border-box;
                  p{
                  text-overflow: ellipsis !important; 
                  }
                }
              }
              .date{
                width: 100%;
                @include flex(center,center);
              }
            }

            .location{
              // min-width: 160px;
              height: 30px;
              position: relative !important;
              ::ng-deep .mat-icon{
                position: absolute;
                top: 6px !important;
                left: 7px !important;
                width: 9px;
                height: 12px;
                font-size: 15px;
                margin-right: 8px !important;
              
              }
              h3{
                font-size: 12px;
                font-weight: 400;
                color: #231E1E;
                text-align: center;
                background-color: $white;
                border-radius: 15px;
                overflow: hidden;
                max-height: 28px;
                padding: 0px 10px ;
                p{
                  text-overflow: ellipsis !important;

                }
                
              }
            }
            .date{
              font-size: 12px;
              color: #606167;
              font-weight: 500;
            }
          }

        }
        .card-body-mid{
          .job-description{
            border-bottom: 1px solid rgba(150, 165, 184, 0.3);
            h3{
              font-size: 20px;
              color: #231E1E;
              margin: 10px 0px !important;
            }
            p{
              color: #606167;
              word-break: break-all;
              min-height: 40px;
              overflow-y: hidden;
              margin-bottom:8px!important;

            }
          }
          .job-data{
            @include flex(normal,space-between);
            margin: 10px 0px !important;
            
            .no_opeanings{
              p{
                font-size: 10px;
                margin-bottom: 16px !important;
              }
              h4{
                font-size: 16px;
                margin-bottom: 16px !important;
                font-weight: 500;
              }
            }
            .no_experience{
              p{
                font-size: 10px;
                margin-bottom: 16px !important;
              }
              h4{
                font-size: 16px;
                margin-bottom: 16px !important;
                font-weight: 500;
              }
            }

          }
        }
        .card-body-bottom{
      
          .btn-wrapper{
            @include flex(normal,space-between);
            button{
              border: 1px solid rgba(150, 165, 184, 0.3);
              width: 45%;
              margin: 0px !important;
              padding: 0px !important;
              height: 50px;
              font-size: 14px;
              background-color: $white;
              color: #199CFF;
              font-weight: 500;
              border-radius: 5px;
            }
            button:nth-child(2){
              color: $white;
              border-radius: 8px;
              background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), #199CFF;
              color: $white;
              border-radius: 5px;
              box-shadow: 0px 1px 4px rgb(0 0 0 / 12%), inset 0px 2px 0px rgb(255 255 255 / 24%);
              background-blend-mode: soft-light, normal;
              &:hover {
                cursor: pointer;
                background: $primary;
                box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 5px 0px rgba(0, 0, 0, 0.05),
                  0px 1px 10px 0px rgba(0, 0, 0, 0.03);
                color: $white;
              }
            }
            @media screen and (max-width: 600px) {
              display: block;
              button{
                width: 100%;
                margin: 10px 0px !important;
              }
            }
            
          }
        }

      }

   
}