div{
    background-color: green;
    height: 40px;
    border: 5px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
    h5{
        font-size: 20px;
        margin: 0px;
    }
}

::ng-deep .mat-snack-bar-container{
    padding: 0px !important;
}