$primary:#00abff;
$lightblue:#f3f6fc;
$darkprimary:#199CFF;
$grey:#fafafa;
$white:white;
$lightgrey:#2c2c2c;
$font-family:'Lato';
$red:#d9534f;
$backgroundcolor:#f3f6fc;
$darkblue:#3246d3;
$error:#f44336;