<div class="wrapper">
    <div class="wrapper-top">
        <div [ngClass]="{'my-card': true}">
            <div class="row">
                <div class="col-sm-6 d-flex align-items-center ">
                    <h1 class="col-sm-12">Create New Ticket</h1>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <button  class="button add-ticket-btn" (click)="toggleCard()">Add</button>
                    </div>
                </div>
            </div>
            <div [ngClass]="{'my-card-content': true, 'expand': isOpen}">
            
                <div class="add-dsr" [formGroup]="ticketForm">
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12 pd-10">
                                    <div class="form-group">
                                        <label for="date">Subject</label>
                                        <mat-form-field appearance="outline">
                                            <input type="text" matInput formControlName="subject" >
                                            <mat-error>{{ticketForm | validationError:'subject':'Subject' }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-12 dropdown">
                                    <div class="form-group dropdown-body">
                                        <label for="first_name">Department</label>
                                        <app-dropdown [data]="departmentDropdown" (outputData)="selectedValue($event,'department')"></app-dropdown>
                                        <small *ngIf="this.ticketForm.controls.department.touched">{{ticketForm | validationError:'department':'Department' }}</small>
                                    </div>
                                </div>
                                <div class="col-md-12 dropdown">
                                    <div class="form-group dropdown-body">
                                        <label for="first_name">Ticket Category</label>
                                        <app-dropdown [data]="tiketCategoryDropdown" (outputData)="selectedValue($event,'ticketCategory')"></app-dropdown>
                                        <small *ngIf="this.ticketForm.controls.ticketCategory.touched">{{ticketForm | validationError:'ticketCategory':'Ticket Category' }}</small>
                                    </div>
                                </div>
                                <div class="col-md-12 dropdown">
                                    <div class="form-group dropdown-body">
                                        <label for="first_name">Priority</label>
                                        <app-dropdown [data]="priorityDropdown" (outputData)="selectedValue($event,'piority')"></app-dropdown>
                                        <small *ngIf="this.ticketForm.controls.piority.touched">{{ticketForm | validationError:'piority':'Priority' }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label for="">Description</label>
                                <editor
                                    formControlName="description"
                                    [init]="{
                                        height: 400,
                                        menubar: false,
                                        plugins: [
                                        'advlist autolink lists link image charmap print preview anchor',
                                        'searchreplace visualblocks code fullscreen',
                                        'insertdatetime media table paste code help wordcount'
                                        ],
                                        toolbar:
                                        'undo redo | formatselect | bold italic backcolor | \
                                        alignleft aligncenter alignright alignjustify | \
                                        bullist numlist outdent indent | removeformat | help'
                                    }"
                                ></editor>
                                <small *ngIf="this.ticketForm.controls.description.touched">{{ticketForm | validationError:'description':'Description' }}</small>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-actions col-12 ">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <button type="submit" class="button action-btn"  (click)="addTicket()">  Add </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="ticket-list">
        <div class="row">
            <div class="col-md-12">
                <h1>List All Ticket</h1>
                <app-table [columns]="headings" [dataSource]="datasource"></app-table>
            </div>
        </div>
    </div>
</div>
