<div class="wrapper">
    <div class="wrapper-top">
        <div [ngClass]="{'my-card': true}">
            <div class="row">
                <div class="col-sm-6 d-flex align-items-center ">
                    <h1 class="col-sm-12 dark-header">Create New Ticket</h1>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <button  class=" add-data-btn add-ticket-btn" (click)="toggleCard()">Add</button>
                    </div>
                </div>
            </div>
            <div [ngClass]="{'my-card-content': true, 'expand': isOpen}">
            
                <div class="add-dsr" [formGroup]="ticketForm">
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12 pd-10">
                                    <div class="form-group">
                                        <label for="date">Subject</label>
                                        <mat-form-field appearance="outline">
                                            <input type="text" matInput formControlName="subject" >
                                            <mat-error>{{ticketForm | validationError:'subject':'Subject' }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-12 dropdown">
                                    <div class="form-group dropdown-body">
                                        <label for="first_name">Department</label>
                                        <app-dropdown [placeHolder]="dropdownData[0].placeholder" [data]="dropdownData[0].data" [progchangedValue]="ticketForm.controls.department.value" (outputData)="selectedValue($event,'department')"></app-dropdown>
                                        <small *ngIf="this.ticketForm.controls.department.touched">{{ticketForm | validationError:'department':'Department' }}</small>
                                    </div>
                                </div>
                                <div class="col-md-12 dropdown">
                                    <div class="form-group dropdown-body">
                                        <label for="first_name">Ticket Category</label>
                                        <app-dropdown [placeHolder]="dropdownData[1].placeholder" [data]="dropdownData[1].data" [progchangedValue]="ticketForm.controls.ticketCategory.value" (outputData)="selectedValue($event,'ticketCategory')"></app-dropdown>
                                        <small *ngIf="this.ticketForm.controls.ticketCategory.touched">{{ticketForm | validationError:'ticketCategory':'Ticket Category' }}</small>
                                    </div>
                                </div>
                                <div class="col-md-12 dropdown">
                                    <div class="form-group dropdown-body">
                                        <label for="first_name">Priority</label>
                                        <app-dropdown [placeHolder]="dropdownData[2].placeholder" [data]="dropdownData[2].data" [progchangedValue]="ticketForm.controls.piority.value" (outputData)="selectedValue($event,'piority')"></app-dropdown>
                                        <small *ngIf="this.ticketForm.controls.piority.touched">{{ticketForm | validationError:'piority':'Priority' }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label for="">Description</label>
                                <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig" formControlName="description"></angular-editor>
                                <small *ngIf="this.ticketForm.controls.description.touched">{{ticketForm | validationError:'description':'Description' }}</small>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-actions col-12 ">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <button type="submit" class="button action-btn"  (click)="addTicket()">  Add </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="ticket-list">
        <div class="row">
            <div class="col-md-12">
                <h1 class="dark-header">List All Ticket</h1>
                <app-table [columns]="headings" [dataSource]="datasource"></app-table>
            </div>
        </div>
    </div>
</div>
