<div class="card">
    <div class="card-body">
        <div class="card-mid">
            <div class="card-mid-row">
                <div class="flex-col-1">
                    <h1>Job Details</h1>
                </div>
                <hr>
                <div class="flex-row">
                    <div class="flex-col-2">
                        <label for="">Job Title :</label>
                        <span>{{jobDetailsData.job_title}}</span>
                    </div>
                    <div class="flex-col-2">
                        <label for="">Job Type :</label>
                        <span>Permanent</span>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col-2">
                        <label for="">Department :</label>
                        <span>{{jobDetailsData.department}}</span>
                    </div>
                    <div class="flex-col-2">
                        <label for="">Location :</label>
                        <span>{{jobDetailsData.location}}</span>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col-2">
                        <label for="">No. of Openings :</label>
                        <span>{{jobDetailsData.openings_count}}</span>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col-2">
                        <label for="">Exp. Required :</label>
                        <span>{{jobDetailsData.job_experience_required}}</span>
                    </div>
                </div>
            </div>
            <div class="card-mid-row">
                <div class="flex-col-1">
                    <h2>Technical Skills</h2>
                </div>
                <hr>
                <div class="job-content">
                    <h3>{{jobDetailsData.skills}}</h3>
                </div>
            </div>
            <div class="card-mid-row">
                <div class="flex-col-1">
                    <h2>Job Introduction</h2>
                </div>
                <hr>
                <div class="job-content">
                    <h3>{{jobDetailsData.job_description}}</h3>
                </div>
            </div>
            <div class="card-mid-row">
                <div class="flex-col-1">
                    <h2>Job Description</h2>
                </div>
                <hr>
                <div class="job-content">
                    <h4>Requirements:</h4>
                    <ul>
                        <li>B.E/B.Tech/MCA with 3 to 5 years of experience in Java, Spring tech stack ecosystem.</li>
                        <li>Experience in end-to-end application development.</li>
                        <li>Experience in development & delivery using Agile methodologies like Scrum or Scaled Agile frameworks.</li>
                        <li>Should be able a hands-on coder with best practices & standards being followed.</li>    
                    </ul>
                </div>
            </div>
            <div class="card-mid-row">
                <div class="flex-col-1">
                    <h2>Job Qualification</h2>
                    <div class="job-content">
                        <ul>
                            <li>
                                Skills on public Cloud provider Services like that of AWS or Azure or GCP
                            </li>
                            <li>
                                Knowledge of Linux
                            </li>
                            <li>
                                Good knowledge of Design Patterns
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


