@import '../../../../scss/global',
        '../../../../scss/var';

*{
    h3{
        margin: 0px;
    }
    h2{
        color: $lightgrey;
    }
}

label{
    width: 30%;
    padding: 0px !important;
}
span{
    width: 70%;
   
}
hr{
    border: 1px solid $lightgrey;
}
.job-content{
    padding: 24px;
    background-color: $lightblue;
}
.card-mid{
    box-sizing: border-box ;
}

@media screen and (max-width: 768px) {}



