<div class="wrapper">
    <div class="wrapper-top">

        <div [ngClass]="{'my-card': true}">
            <div class="row new-dsr">
                <h1 class="dark-header">Create New DSR</h1>
                <button  class="button " (click)="toggleCard()">Add</button>
            </div>
            <div [ngClass]="{'my-card-content': true, 'expand': isOpen}">
            
                <div class="add-dsr">
                    <div class="row " [formGroup]="dsrForm">
                        <div class="col-6">
        
                            <!-- Project Listing -->
                            <div class="form-group col-12" id="project_ajax">
                                <div class="col-md-12">
                                    <label for="project_ajax" class="control-label">Project</label>
                                    <app-dropdown [data]="projectDropdown" (outputData)="selectDropdown($event,'dsrProject')"></app-dropdown>
                                    <small *ngIf="this.dsrForm.controls.dsrProject.touched">{{dsrForm | validationError : 'dsrProject' : 'Project' }}</small>
                                </div>
                            </div>
        
                            <div class="row">
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="start_date">Date</label>
                                        <mat-form-field appearance="outline" style="position: relative;" >
                                            <input  matInput [matDatepicker]="picker1" placeholder="MM/DD/YYYY" formControlName="dsrDate">
                                            <mat-datepicker-toggle matIconSuffix [for]="picker1" style="position: absolute;top: 0px;right: 0px;"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                            <mat-error *ngIf="this.dsrForm.controls.dsrDate.touched">{{dsrForm | validationError : 'dsrDate' : 'Hours' }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>   
                                
                                <hr>
        
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                            <label for="task_hour" class="control-label">Estimated Hour</label>
        
                                            <mat-form-field appearance="outline" >
                                                <input matInput type="text" class="date_filter_from form-control hasDatepicker" placeholder="Select from-date" id="dp1678966291433" formControlName="dsrHours">
                                            </mat-form-field>
        
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-4">
                                    <div class="form-group mt-30">    
                                        <div class="form-check checkbox">
                                            <input type="checkbox" class="form-check-input" name="no_work" id="no_work_done">
                                            <label class="form-check-label" for="no_work_done">No Work Done</label>
                                        </div>
                                    </div>
                                </div> 
                            </div>

                            <hr>

        
                            <div class="row" *ngIf="selctedProject == 'Miscellaneous'">
                                <div class="col-md-6">
                                    <label for="">Approving Authority 1 (PM)</label>
                                    <app-dropdown [data]="approvingAuthority"></app-dropdown>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Approving Authority 2 (AM)</label>
                                    <app-dropdown [data]="approvingAuthority"></app-dropdown>
                                </div>
                            </div>

                            <div class="row" *ngIf="selctedProject == 'Interview'">
                                <div class="col-md-6">
                                    <label for="">Choose AM</label>
                                    <app-dropdown [data]="chooseAM"></app-dropdown>
                                </div>
                                
                            </div>
                            

        
                        </div>
        
                        <div class="col-6">
                            <div class="col-md-12">
                                <label for="">Description</label>
                                <editor
                                    formControlName="dsrContent"
                                    [init]="{
                                        height: 400,
                                        menubar: false,
                                        plugins: [
                                        'advlist autolink lists link image charmap print preview anchor',
                                        'searchreplace visualblocks code fullscreen',
                                        'insertdatetime media table paste code help wordcount'
                                        ],
                                        toolbar:
                                        'undo redo | formatselect | bold italic backcolor | \
                                        alignleft aligncenter alignright alignjustify | \
                                        bullist numlist outdent indent | removeformat | help'
                                    }"
                                ></editor>
                                <small *ngIf="this.dsrForm.controls.dsrContent.touched">{{dsrForm | validationError : 'dsrContent' : 'Description' }}</small>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-actions col-12 ">
                        <button type="submit" class="button " (click)="dsrSummit()" > <i class="fa fa-check-square-o"></i> Add </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class=" dsr">
        <div class="col-md-12">
            <div class="row"  [formGroup]="filterForm">    
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="first_name">From Date</label>
                            <mat-form-field appearance="outline">
                                <input matInput 
                                  [matDatepicker]="fromDate" 
                                  placeholder="From Date" 
                                  formControlName="fromDate">
                                <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                <mat-datepicker #fromDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
        
                    <!-- To Date -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="first_name">End Date</label>
                            <mat-form-field appearance="outline">
                                <input matInput 
                                  [matDatepicker]="toDate" 
                                  placeholder="To Date" 
                                  formControlName="toDate"
                                  (dateChange)="applyFilter()"
                                  [min]="this.filterForm.get('fromDate')?.value"
                                  >
                                <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                <mat-datepicker #toDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                <!-- From Date -->
    
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="first_name">Submission Status</label>
                        <app-dropdown [data]="submissionStatusData" (outputData)="dropdownFilter($event,'submissionStatus')"  [progchangedValue]="this.filterForm.controls.submissionStatus.value"></app-dropdown>    
                    </div>
                </div>
    
                <!-- Project -->
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="first_name">Project</label>
                        <app-dropdown [data]="projectDataDropdown" (outputData)="dropdownFilter($event,'project')" [progchangedValue]="this.filterForm.controls.project.value"></app-dropdown>    
                    </div>
                </div>
            
            </div>
    
            <div class="row">
            
            </div>
        
            <!-- Final Approval -->
            <div class="row">
                
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="rm_status">Final Approval Status</label>
                        <app-dropdown [data]="finalApprovalDropdown" (outputData)="dropdownFilter($event,'finalApprovalStatus')" [progchangedValue]="this.filterForm.controls.finalApprovalStatus.value"></app-dropdown>
                    </div>
                </div>
    
    
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="rm_status">Hours</label>
                        <app-dropdown [data]="hoursDropdown" (outputData)="dropdownFilter($event,'hours')" [progchangedValue]="this.filterForm.controls.hours.value"></app-dropdown>
                    </div>
                </div>
    
            
                
                <div class="button-wrapper "> 
                    <button (click)="resetDsrFilter()"  class="button">Reset</button>
                </div>
            </div>
        </div>
        

        <!-- <div class="form-actions padd-left"> 
            <button name="hrsale_form" type="submit" class="btn btn btn-primary reset-filters"><i class="fa fa fa-check-square-o"></i> Reset</button>
        </div> -->
    
    </div>

    <hr>

    <div class="dsr-body">
        <app-table  [columns]="headings" [dataSource]="datasource" (openFilledDsr)="openFilledDsr($event)" ></app-table>
    </div>
</div>

